<div oc-lazy-load="{name:'myApp',files:['Content/booking//cellPhone.js?r=534259230','Design/design30375.js?r=1117515404','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30375"></div>

	<div ng-controller="Ctrl190821">
	    <form id="formData" name="formData">
		<md-card flex="100" layout-padding>
		<fieldset ng-disabled="ishttpCalling" style="height:520px;border:0px">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<div style="height:80px" layout="row" flex="100" flex-xs="100">
</div>
<div style="height:" layout="row" flex="25" flex-xs="10">
</div>
<md-input-container 
	 flex="50" flex-xs="100" md-no-float>
    <md-icon>phone</md-icon>
    <input ng-model="Form.cellPhone"  type="cellPhone" 
	mask="0999-999-99-99"  md- 
	 md-  
	
	name="cellPhone"      >	
	<label>{{'تلفن همراه'| translate }}</label>
    	<div class="hint" >{{'براي اين تلفن پيامک ارسال خواهد شد' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-list-item-content md-primary" 
	
	ng-click="makeDesign_304735();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'تاييد و ادامه' | translate}}</span>   
</md-button>
<!--  -->
<md-input-container class="md-block" flex-gt-xs  flex="100"   >
	<md-radio-group  flex-gt-sm layout-padding layout="row" flex="100"  ng-model="Form.gender"   >
		<md-radio-button ng-repeat="item in [{'title':'MALE','id':11},{'title':'FEMALE','id':12}]"  class="md-primary" value="{{item.id}}" ng-disabled="item.disabled">{{item.title|translate}}</md-radio-button>
	</md-radio-group>
</md-input-container></div>  
	</div>
</div>

		</fieldset>
		</md-card>
		</form>
	</div> 
</div> 
