<div oc-lazy-load="{name:'myApp',files:['Content/190707.js?r=738333054','Design/design30284.js?r=1508860982']}"> 
	<div ng-controller="Design_30284"></div>

	<div ng-controller="Ctrl190707">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<div ng-init="Form.myDate__minDate=setFilterForDate('','','','')"></div>
<div ng-init="Form.myDate__maxDate=setFilterForDate('','','','')"></div>

<div ng-init="Form.myDate=setStandardDate()"></div>
<md-input-container  >
	<label>{{''| translate }}</label>
        <md-persian-datepicker 
			md-max-date="Form.myDate__minDate"
			md-min-date="Form.myDate__maxDate"
			ng-model="Form.myDate"   name="CertificateDate"  ></md-persian-datepicker>

</md-input-container>

{{Form}}

<div >
	<div  
		style="height:200px;width:400px;
		border:solid 1px silver;
		background:url('{{Form.Image1}}');
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		border-radius:px;
		position:relative;
		" >
	</div>
	<div layout-padding style="width:200px;position:relative">
		<input ng-model="Form.Image1" type="file"  
		style="color:transparent"
		onchange="angular.element(this).scope().uploadedFile(this,'Form.Image1__')" >
	</div>
</div>

<div >
	<div  
		style="height:200px;width:400px;
		border:solid 1px silver;
		background:url('{{Form.Image2}}');
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		border-radius:px;
		position:relative;
		" >
	</div>
	<div layout-padding style="width:200px;position:relative">
		<input ng-model="Form.Image2" type="file"  
		style="color:transparent"
		onchange="angular.element(this).scope().uploadedFile(this,'Form.Image2__')" >
	</div>
</div>

<md-button  
	 
	ng-click="makeDesign_303891();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'save' | translate}}</span>   
</md-button>
<!--  --></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
