<div oc-lazy-load="{name:'myApp',files:['Content/190706.js?r=749736761','Design/design30283.js?r=1939420726','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30283"></div>

	<div ng-controller="Ctrl190706">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon>person</md-icon>
    <input ng-model="Form.FirstName"  type="text" 
	 minlength="3" md-minlength="3" 
	maxlength="100" md-maxlength="100"  
	
	name="FirstName"      >	
	<label>{{'FirstName'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon>person</md-icon>
    <input ng-model="Form.LastName"  type="text" 
	 minlength="3" md-minlength="3" 
	maxlength="100" md-maxlength="100"  
	
	name="LastName"      >	
	<label>{{'LastName'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon>person</md-icon>
    <input ng-model="Form.FatherName"  type="text" 
	 minlength="3" md-minlength="3" 
	maxlength="100" md-maxlength="100"  
	
	name="FatherName"      >	
	<label>{{'FatherName'| translate }}</label>
    	<div class="hint" >{{'What is your father name?' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon>id</md-icon>
    <input ng-model="Form.NationalCode"   
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="NationalCode"   isNationalCode   >	
	<label>{{'شماره ملي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" md-no-float>
    <md-icon>phone</md-icon>
    <input ng-model="Form.cellPhone"  type="cellPhone" 
	mask="0999-999-99-99"  md- 
	 md-  
	
	name="cellPhone"      >	
	<label>{{'cellPhone'| translate }}</label>
    	<div class="hint" >{{'نمونه: 091212345678' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.PostalCode" ng-pattern="/^[13-9]*$/"  
	mask="99999-99999"  md- 
	 md-  
	
	name="PostalCode"      >	
	<label>{{'PostalCode'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon>home</md-icon>
    <input ng-model="Form.Address"   
	  md- 
	maxlength="4000" md-maxlength="4000"  
	
	name="Address"      >	
	<label>{{'Address'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-button  
	 
	ng-click="makeDesign_303887();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'save' | translate}}</span>   
</md-button>
<!--  -->
<div ng-include="'Table/22.html?r='+rand" flex="100"></div>
</div>  
	</div>
</div>

		</form>
	</div> 
</div> 
