<div oc-lazy-load="{name:'myApp',files:['Content/190717.js?r=664060079','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	
	<div ng-controller="Ctrl190717">
	    <form id="formData" name="formData">
			<div id="_template" class="template flex-100 layout-wrap layout-column tableClass" >
	<div layout="row" layout-wrap flex="100" class="header">
<md-button  
	class="md-list-item-content md-primary" 
	
	ng-click="makeDesign_304028();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'تاييد و ادامه' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-raised md-primary" 
	
	ng-click="makeDesign_304029();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'Logout' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-raised md-primary" 
	
	ng-click="makeDesign_304030();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'Logout' | translate}}</span>   
</md-button>
<!--  -->
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon>id</md-icon>
    <input ng-model="Form.NationalCode"   
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="NationalCode"   isNationalCode   >	
	<label>{{'شماره ملي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container></div>
	<div layout="row" layout-wrap flex="100">
		<div flex="100" layout="row" ng-repeat="row in TableInitializer.rowList" class="row"></div>
	</div>
	<div layout="row" layout-wrap flex="100" class="footer"></div>
</div>
		</form>
	</div> 
</div> 
