<div oc-lazy-load="{name:'myApp',files:['Content/190616.js?r=610982212','Design/design20203.js?r=1381510140','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_20203"></div>

	<div ng-controller="Ctrl190616">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="100" flex-xs="100" md-no-float>
    <md-icon>phone</md-icon>
    <input ng-model="Form.PhoneNumber"  type="cellPhone" 
	  md- 
	 md-  
	
	name="cellPhone"      >	
	<label>{{'CELL_PHONE'| translate }}</label>
    	<div class="hint" >{{'CELL_PHONE_HINT' | translate }}</div>
    
</md-input-container>
<md-button  
	 
	ng-click="makeDesign_293053();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'CONTINUE' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
