<div oc-lazy-load="{name:'myApp',files:['Content/190618.js?r=195397534','Design/design20205.js?r=1991509290','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_20205"></div>

	<div ng-controller="Ctrl190618">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon>person</md-icon>
    <input ng-model="Form.FirstName"  type="text" 
	 minlength="3" md-minlength="3" 
	maxlength="100" md-maxlength="100"  
	
	name="FirstName"      >	
	<label>{{'FIRST_NAME'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon>person</md-icon>
    <input ng-model="Form.LastName"  type="text" 
	 minlength="3" md-minlength="3" 
	maxlength="100" md-maxlength="100"  
	
	name="LastName"      >	
	<label>{{'LAST_NAME'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon>id</md-icon>
    <input ng-model="Form.NationalCode"   
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="NationalCode"   isNationalCode   >	
	<label>{{'NATIONAL_CODE'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<!--div ng-init="getDynamicData('__stateList','','0','/api/state/getAll','',[],this)"></div-->

<div ng-init=" __stateList =  " style="display:none"></div>
<div ng-init=" Form.stateId =  " style="display:none"></div>

<md-input-container flex="100" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__stateList','','0','/api/state/getAll','',[],this)"
		ng-model="Form.stateId" placeholder="{{'STATE' | translate}}" >
		<md-option  ng-repeat="item in __stateList" value="{{item.StateId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<!--div ng-init="getDynamicData('__cityList','','0','/api/City/getCity?stateId='+Form.stateId+'','','',this)"></div-->

<div ng-init=" __cityList =  " style="display:none"></div>
<div ng-init=" Form.CityId =  " style="display:none"></div>

<md-input-container flex="100" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__cityList','','0','/api/City/getCity?stateId='+Form.stateId+'','','',this)"
		ng-model="Form.CityId" placeholder="{{'CITY' | translate}}" >
		<md-option  ng-repeat="item in __cityList" value="{{item.CityId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-button  
	 
	ng-click="makeDesign_293062();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">assignment</md-icon>
    <span class="md-inline-list-icon-label">{{'REGISTRATION' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
