<div oc-lazy-load="{name:'myApp',files:['Content/190617.js?r=1459956578','Design/design20204.js?r=83000859','Design/design20214.js?r=502156896','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_20204"></div>
<div ng-controller="Design_20214"></div>

	<div ng-controller="Ctrl190617">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.ActiveCode"   
	  md- 
	 md-  
	
	      >	
	<label>{{'CODE'| translate }}</label>
    	<div class="hint" >{{'CODE_HINT' | translate }}</div>
    
</md-input-container>
<md-button  
	 
	ng-click="makeDesign_293055();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'VERIFY' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	 
	ng-click="makeDesign_293128();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">forward_30</md-icon>
    <span class="md-inline-list-icon-label">{{'RESEND' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
