<div oc-lazy-load="{name:'myApp',files:['Content/190638.js?r=1535302234','Design/design20219.js?r=1535302234','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_20219"></div>

	<div ng-controller="Ctrl190638">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Search"   
	  md- 
	 md-  
	
	      >	
	<label>{{'کد تاييد'| translate }}</label>
    	<div class="hint" >{{'لطفا کد ارسالي به تلفن همراه خود را وارد نماييد' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_293163();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">fast_forward</md-icon>
    <span class="md-inline-list-icon-label">{{'ادامه' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	 
	ng-click="makeDesign_293164();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">forward_30</md-icon>
    <span class="md-inline-list-icon-label">{{'ارسال مجدد پيامک' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
