<div oc-lazy-load="{name:'myApp',files:['Content/190637.js?r=1082728276','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	
	<div ng-controller="Ctrl190637">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="100" flex-xs="100" md-no-float>
    <md-icon>phone</md-icon>
    <input ng-model="Form.cellPhone"  type="cellPhone" 
	  md- 
	 md-  
	
	name="cellPhone"      >	
	<label>{{'تلفن همراه'| translate }}</label>
    	<div class="hint" >{{'نمونه: 091212345678' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon>id</md-icon>
    <input ng-model="Form.NationalCode"   
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="NationalCode"   isNationalCode   >	
	<label>{{'شماره ملي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_293161();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">fast_forward</md-icon>
    <span class="md-inline-list-icon-label">{{'ادامه' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
