<div oc-lazy-load="{name:'myApp',files:['Content/190629.js?r=689899227','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	
	<div ng-controller="Ctrl190629">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="25" flex-xs="100" >
    <md-icon>account_balance</md-icon>
    <input ng-model="Form.Search"   
	  md- 
	 md-  
	
	      >	
	<label>{{'عنوان سازمان'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<!--div ng-init="getDynamicData('__jobTitleList',[{'title':'مرد','value':'01'},{'title':'زن','value':'02'}],'','','',[],this)"></div-->

<div data-ng-init=" __jobTitleList = [] " style="display:none"></div>
<div data-ng-init=" Form.Gender = -1 " style="display:none"></div>

<md-input-container flex="25" flex-xs="100" md-no-float>
	<md-icon>perm_identity</md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__jobTitleList',[{'title':'مرد','value':'01'},{'title':'زن','value':'02'}],'','','',[],this)"
		ng-model="Form.Gender" placeholder="{{'سمت' | translate}}" >
		<md-option  ng-repeat="item in __jobTitleList" value="{{item.value}}">
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="100" >
    <md-icon>person</md-icon>
    <input ng-model="Form.FirstName"  type="text" 
	 minlength="3" md-minlength="3" 
	maxlength="100" md-maxlength="100"  
	
	name="fullName"      >	
	<label>{{'نام و نام خانوادگي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<!--div ng-init="getDynamicData('__stateList','','','http://localhost:8089/getData/','state',[],this)"></div-->

<div data-ng-init=" __stateList = [] " style="display:none"></div>
<div data-ng-init=" Form.State = -1 " style="display:none"></div>

<md-input-container flex="25" flex-xs="100" md-no-float>
	<md-icon>location_on</md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__stateList','','','http://localhost:8089/getData/','state',[],this)"
		ng-model="Form.State" placeholder="{{'استان' | translate}}" >
		<md-option  ng-repeat="item in __stateList" value="{{item.item.id}}">
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<!--div ng-init="getDynamicData('__cityList','','','http://localhost:8089/getData/','city',{stateId:Form.State,classTypeId:Form.ClassType},this)"></div-->

<div data-ng-init=" __cityList = [] " style="display:none"></div>
<div data-ng-init=" Form.City = -1 " style="display:none"></div>

<md-input-container flex="25" flex-xs="100" md-no-float>
	<md-icon>location_on</md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__cityList','','','http://localhost:8089/getData/','city',{stateId:Form.State,classTypeId:Form.ClassType},this)"
		ng-model="Form.City" placeholder="{{'شهر' | translate}}" >
		<md-option  ng-repeat="item in __cityList" value="{{item.item.id}}">
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="25" flex-xs="100" >
    <md-icon>mail</md-icon>
    <input ng-model="Form.PostalCode" ng-pattern="/^[13-9]*$/"  
	mask="99999-99999"  md- 
	 md-  
	
	name="PostalCode"      >	
	<label>{{'کد پستي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="25" flex-xs="100" >
    <md-icon>phone</md-icon>
    <input ng-model="Form.PhoneNumber" ng-pattern="/^[0-9]*$/"  
	mask="009999-99999999"  md- 
	 md-  
	
	name="PhoneNumber"      >	
	<label>{{'شماره تلفن'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="25" flex-xs="100" >
    <md-icon>phone</md-icon>
    <input ng-model="Form.PhoneNumber" ng-pattern="/^[0-9]*$/"  
	mask="009999-99999999"  md- 
	 md-  
	
	name="PhoneNumber"      >	
	<label>{{'شماره فکس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="75" flex-xs="100" >
    <md-icon>home</md-icon>
    <input ng-model="Form.Address"   
	  md- 
	maxlength="4000" md-maxlength="4000"  
	
	name="Address"      >	
	<label>{{'آدرس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="25" flex-xs="100" >
    <md-icon>payment</md-icon>
    <input ng-model="Form.Search"   
	  md- 
	 md-  
	
	      >	
	<label>{{'شماره حساب'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="25" flex-xs="100" >
    <md-icon>payment</md-icon>
    <input ng-model="Form.Search"   
	  md- 
	 md-  
	
	      >	
	<label>{{'شماره شبا'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div layout="row" flex="33" flex-xs="10">
</div>
<div >
	<div  
		style="height:100px;width:100px;
		border:solid 1px silver;
		background:url('{{image_source['Image1'].result}}');
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		border-radius:5px;
		position:relative;

		" 
		>
		<md-progress-linear  
		ng-show="image_source['Image1'].progress>0 && image_source['Image1'].progress<100"
		value="{{image_source['Image1'].progress}}"></md-progress-linear>
	</div>
	<div layout-padding style="width:100px;position:relative">
		<input ng-model="Form.Image2" type="file"  
		
		
		style="color:transparent"
		
		
		onchange="angular.element(this).scope().uploadedFile(this,'Image1')" >
		<md-icon ng-show="image_source['Image1'].visible" style="position:absolute;top:10px;left:115px;color:green;">check</md-icon>
	</div>
</div>


<div >
	<div  
		style="height:100px;width:100px;
		border:solid 1px silver;
		background:url('{{image_source['Image1'].result}}');
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		border-radius:5px;
		position:relative;

		" 
		>
		<md-progress-linear  
		ng-show="image_source['Image1'].progress>0 && image_source['Image1'].progress<100"
		value="{{image_source['Image1'].progress}}"></md-progress-linear>
	</div>
	<div layout-padding style="width:100px;position:relative">
		<input ng-model="Form.Image1" type="file"  
		
		
		style="color:transparent"
		
		
		onchange="angular.element(this).scope().uploadedFile(this,'Image1')" >
		<md-icon ng-show="image_source['Image1'].visible" style="position:absolute;top:10px;left:115px;color:green;">check</md-icon>
	</div>
</div>


<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_293197();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">fast_forward</md-icon>
    <span class="md-inline-list-icon-label">{{'ثبت درخواست' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
