<div oc-lazy-load="{name:'myApp',files:['Content/190496.js?r=1692139401','Design/design10120.js?r=315183682','Design/design10147.js?r=315183682','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_10120"></div>
<div ng-controller="Design_10147"></div>

	<div ng-controller="Ctrl190496">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">

<md-input-container  flex="100" flex-xs="100" >
    <md-icon>fingerprint</md-icon>
    <input ng-model="DocInfo.person.nationalCode"   
	 minlength="10" maxlength="10" 
	md-maxlength="10" type="text"  
	name="NationalCode"     disabled >	
	<label>{{'NATIONAL_CODE'| translate }}</label>
    <div class="hint">{{'' | translate }}</div>
    
</md-input-container>

<md-input-container  flex="50" flex-xs="100" >
    <md-icon>person</md-icon>
    <input ng-model="DocInfo.person.firstName"  type="text" 
	 minlength="3" maxlength="30" 
	md-maxlength="30" type="text"  
	name="FirstName"  required    >	
	<label>{{'FIRST_NAME'| translate }}</label>
    <div class="hint">{{'' | translate }}</div>
    
</md-input-container>

<md-input-container  flex="45" flex-xs="100" >
    <md-icon>group</md-icon>
    <input ng-model="DocInfo.person.lastName"  type="text" 
	  maxlength="30" 
	md-maxlength="30" type="text"  
	name="LastName"  required    >	
	<label>{{'LAST_NAME'| translate }}</label>
    <div class="hint">{{'' | translate }}</div>
    
</md-input-container>
<md-input-container flex="45" flex-xs="100">
	<label>{{''| translate }}</label>
        <md-persian-datepicker ng-model="DocInfo.person.birthDate"   name="BirthDate" ng-init = "DocInfo.person.birthDate!=null? design_10147('DocInfo.person.birthDate'):''" ></md-persian-datepicker>

</md-input-container>
<md-input-container class="md-block" flex-gt-xs>
			<md-radio-group  flex-gt-sm layout-padding layout="row" flex="50" ng-model="DocInfo.person.gender.id" required>
				<md-radio-button class="md-primary" value="11">MALE</md-radio-button>
				<md-radio-button class="md-primary" value="12">FEMALE</md-radio-button>
			</md-radio-group>
		</md-input-container>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_272510();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">APPROVE</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
