<div oc-lazy-load="{name:'myApp',files:['Content/190515.js?r=852532237','Design/design10125.js?r=852532237','Design/design10141.js?r=1623060165','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_10125"></div>
<div ng-controller="Design_10141"></div>

	<div ng-controller="Ctrl190515">
	    <form id="formData" name="formData">
			<div id="_template" class="template flex-100 layout-wrap layout-column">
	<div class="flex-100 layout-wrap layout-row">
		<div class="flex-100 layout-row layout-wrap">
				
<md-input-container flex="50" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		md-on-open="getDynamicData('__city','','0','/base/list/city','',[],this)"
		ng-model="Form.city" placeholder="CITY" >
		<md-option ng-value="item.id" ng-repeat="item in __city" >
			{{item.name}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container flex="40" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		md-on-open="getDynamicData('__addresstype','','0','/base/list/catalogdetail/ADDRESS_TYPE','',[],this)"
		ng-model="Form.addressType" placeholder="ADDRESS_TYPE" >
		<md-option ng-value="item.id" ng-repeat="item in __addresstype" >
			{{item.description}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container  flex="50" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.postalCode"   
	  md-  
	md- type="text"  
	name="PostalCode"      >	
	<label>{{'POSTAL_CODE'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container flex="49" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		md-on-open="getDynamicData('__specialty','','0','/base/list/specialty','',[],this)"
		ng-model="Form.specialty" placeholder="SPECIALTY" >
		<md-option ng-value="item.id" ng-repeat="item in __specialty" >
			{{item.name}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container  flex="50" flex-xs="100" >
    <md-icon>work</md-icon>
    <input ng-model="Form.mandatoryAddress"   
	  md-  
	md- type="text"  
	name="MandatoryAddress"  required    >	
	<label>{{'WORKPLACE_MAIN_ADDRESS'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container  flex="50" flex-xs="100" >
    <md-icon>home</md-icon>
    <input ng-model="Form.optionalAddress"   
	  md- maxlength="200" 
	md-maxlength="200" type="text"  
	name="OptionalAddress"      >	
	<label>{{'WORKPLACE_SUPPLEMENTARY_ADDRESS'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container  flex="50" flex-xs="100" >
    <md-icon>phone</md-icon>
    <input ng-model="Form.officeTel" ng-pattern="/^[0-9]*$/"  
	  md-  
	md- type="text"  
	name="GeneralPhoneNumber"      >	
	<label>{{'GENERAL_WORKPLACE_PHONE_NUMBER'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container  flex="50" flex-xs="100" >
    <md-icon>phone</md-icon>
    <input ng-model="Form.officeFax" ng-pattern="/^[0-9]*$/"  
	  md-  
	md- type="text"  
	name="GeneralFax"      >	
	<label>{{'GENERAL_WORKPLACE_FAX'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container  flex="50" flex-xs="100" >
    <md-icon>phone</md-icon>
    <input ng-model="Form.telephone" ng-pattern="/^[0-9]*$/"  
	  md-  
	md- type="text"  
	name="telephone"  required    >	
	<label>{{'WORKPLACE_PHONE_NUMBER'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container  flex="50" flex-xs="100" >
    <md-icon>phone</md-icon>
    <input ng-model="Form.fax" ng-pattern="/^[0-9]*$/"  
	  md-  
	md- type="text"  
	name="Fax"      >	
	<label>{{'WORKPLACE_FAX'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_272577();" flex="48" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">CANCEL</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_272578();" flex="48" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">CONFIRM</span>   
</md-button>
<!--  -->
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
