<div oc-lazy-load="{name:'myApp',files:['Content/190549.js?r=536278785','Design/design10144.js?r=1306806713','Design/design10145.js?r=2077334641','Design/design10151.js?r=2077334641']}"> 
	<div ng-controller="Design_10144"></div>
<div ng-controller="Design_10145"></div>
<div ng-controller="Design_10151"></div>

	<div ng-controller="Ctrl190549">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">

<h3 style="text-align:center" flex="100" > {{'PLEASE_CHOOSE_YOUR_DASHBOARD' |translate}} </h3>
<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_282708();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'PATIENT_DASHBOARD' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_282709();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'DOCTOR_DASHBOARD' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	ng-click="setDashboard('drDashboard3','drSettingPanel')"
	 flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'DOCTOR_DASHBOARD' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
