<div oc-lazy-load="{name:'myApp',files:['Content/190548.js?r=1786992189','Design/design10132.js?r=1786992189']}"> 
	<div ng-controller="Design_10132"></div>

	<div ng-controller="Ctrl190548">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">

<h4 style="text-align:center;" flex="100" flex-xs="100"> {{'About Me' |translate}} </h4>
<div layout="row" flex="33" flex-xs="10">
</div>
<md-input-container flex="100" flex-xs="100" style="width:100vw">
    <md-icon>home</md-icon>
    <textarea flex="100" name="biography"  ng-model="DocInfo.biography"    md-></textarea>
    <div  role="alert"  >
        <div ng-message="required" class="my-message"></div>
    </div>
</md-input-container>

<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_282626();" flex="100" flex-xs="50"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'APPROVE' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
