<div oc-lazy-load="{name:'myApp',files:['Content/190517.js?r=979110778','Design/design10137.js?r=627738887','Design/design10147.js?r=627738887','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_10137"></div>
<div ng-controller="Design_10147"></div>

	<div ng-controller="Ctrl190517">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">

<md-input-container  flex="100" flex-xs="100" >
    <md-icon>fingerprint</md-icon>
    <input ng-model="PersonInfo.nationalCode"   
	 minlength="10" maxlength="10" 
	md-maxlength="10" type="text"  
	name="NationalCode"   isNationalCode  disabled >	
	<label>{{'NATIONAL_CODE'| translate }}</label>
    <div class="hint">{{'' | translate }}</div>
    
</md-input-container>

<md-input-container  flex="100" flex-xs="100" md-no-float>
    <md-icon>phone</md-icon>
    <input ng-model="PersonInfo.mobileNo"  type="cellPhone" 
	   
	md- type="text"  
	name="cellPhone"     disabled >	
	<label>{{'CELL_PHONE'| translate }}</label>
    <div class="hint">{{'' | translate }}</div>
    
</md-input-container>

<md-input-container  flex="50" flex-xs="100" >
    <md-icon>person</md-icon>
    <input ng-model="PersonInfo.firstName"  type="text" 
	 minlength="3" maxlength="30" 
	md-maxlength="30" type="text"  
	name="FirstName"      >	
	<label>{{'FIRST_NAME'| translate }}</label>
    <div class="hint">{{'' | translate }}</div>
    
</md-input-container>

<md-input-container  flex="50" flex-xs="100" >
    <md-icon>group</md-icon>
    <input ng-model="PersonInfo.lastName"  type="text" 
	 minlength="3" maxlength="30" 
	md-maxlength="30" type="text"  
	name="LastName"      >	
	<label>{{'LAST_NAME'| translate }}</label>
    <div class="hint">{{'' | translate }}</div>
    
</md-input-container>
<md-input-container flex="50" flex-xs="100">
	<label>{{''| translate }}</label>
        <md-persian-datepicker  ng-init = "DocInfo.person.birthDate!=null? design_10140():''" ng-model="PersonInfo.birthDate"   name="BirthDate"  ></md-persian-datepicker>

</md-input-container>
<md-input-container class="md-block" flex-gt-xs>
			<md-radio-group  flex-gt-sm layout-padding layout="row" flex="50" ng-model="Form.gender.id" required>
				<md-radio-button class="md-primary" value="11">{{ 'MALE' | translate }}</md-radio-button>
				<md-radio-button class="md-primary" value="12">{{ 'FEMALE' | translate }}</md-radio-button>
			</md-radio-group>
		</md-input-container>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_282665();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">APPROVE</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
