<div ng-controller="Ctrl190377">
 	<div id="_template" class="template flex-100 layout-wrap layout-column">
	<div class="flex-100 layout-wrap layout-row">
		<div class="flex-100 layout-row layout-wrap">
				
<md-content layout-xs="column" layout="column" layout-align="right right" class="md-padding" flex="100">

<h3>
 کارکنان شما چگونه زمان خود را ثبت مي کنند
</h3>

ما نياز شرکت شما را سفارشي مي کنيم.يک يا چند مورد را انتخاب کنيد

</md-content>
<div ng-init=" __optionList = [
{'id':1,'title':'کيوسک زمان سنج','path':'images/101.JPG','desc':''},
{'id':2,'title':'گزارش حقوق و دستمزد','path':'images/101.JPG','desc':'بررسي ساعات کارکرد کارکنان تا حقوق دقيقتري را به ايشان پرداخت کند'},
{'id':3,'title':'پيگيري پروژه ها','path':'images/101.JPG','desc':'مقايسه برآورد ساعات کارکرد و هزينه هاي مربوط به شغلتان را بدست آوريد'},

] " style="display:none"></div>
<div flex="100" layout="row" layout-align="center">
    <md-card flex="33" flex-xs="100" ng-repeat="item in __optionList"  ng-init="Form.selectedOption=[]">
        <figure>
            <img src="{{item.path}}" flex="100" />
            <figcaption style="text-align:center">{{item.title}}</figcaption>
        </figure>
        <div layout-align="center center" flex="100" layout="row" layout-wrap layout-padding>
           <!-- <h5 flex="100">{{item.desc}}</h5>-->
            <md-checkbox flex="10" ng-checked="exists(item.id, Form.selectedOption)" ng-click="toggle(item.id, Form.selectedOption)"  >
            </md-checkbox>
    	</div>
    </md-card>
</div>
<br/><br/>
<div layout="row" flex="100" flex-xs="100">
</div>
<md-checkbox flex="100"    >
کارکنان ميتوانند زمان هاي خود را از قبيل کار و استراحت ثبت کنند	
</md-checkbox>

<div layout="row">
<md-checkbox flex="100"     >
کارمندان خود بتوانند زمان هاي ثبت شده را ويرايش نمايند	
</md-checkbox>
</div>

<md-checkbox flex="100"    >
	اجازه ثبت و تعريف مرخصي با حقوق توسط کارمندان
</md-checkbox>

<md-button  
	class="md-list-item-content md-primary" 
	ng-click="design_10060();;" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">ذخيره</span>   
</md-button>
<!--  -->
		</div>
	</div>
</div> 
 </div>