<div ng-controller="Ctrl190380">
 	<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
  <md-content  layout-xs="column" layout="row" layout-align="center center" class="md-padding" flex="100">
	   <div flex-xs flex-gt-xs="100" layout="column">
			<md-card>
				<md-card-title>
				  <md-card-title-text>
					  <span class="md-headline" layout="row" layout-align="center"><h4>به مديريت زمان خوش آمديد</h4></span>
				  </md-card-title-text>
				</md-card-title
			</md-card>
			<md-card-content   >
			<span layout="row" layout-align="center">
			آموزش براي يادگيري آنچه که برگه زمان مي تواند انجام دهد.
			</span>
			<br/>
			<md-card-content>
			<md-card-action layout="row" layout-align="center center" layout-xs="column" layout-align-xs="right right" flex-xs="100">
			<md-button  
				class="md-list-item-content md-primary" 
		    	ng-click="design_10062();;" flex="45" flex-xs="100"  >
				<md-icon class="material-icons">save</md-icon>
				<span class="md-inline-list-icon-label">نيازي به آموزش ندارم</span>   
			</md-button>
			<md-button  
				class="md-list-item-content md-primary" 
				ng-click="design_10062();;" flex="45" flex-xs="100"  >
				<md-icon class="material-icons">save</md-icon>
				<span class="md-inline-list-icon-label">بريم آموزش</span>   
			</md-button>
			</md-card-action>
			<div layout="row" layout-align="center center" flex="100" layout-wrap>
				<md-checkbox flex="100" flex-xs="100"    >
				مجددا نمايش داده نشود	
				</md-checkbox>

			</div>
	   </div>
  </md-content>
<md-button ng-if="false" 
	class="md-list-item-content md-primary" 
	ng-click="design_10062();;" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">تاييد و ادامه</span>   
</md-button>
<!--  --></div>  
		</div>
	<div>
</div> 
 </div>