<div ng-controller="Ctrl190376">
 	<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<div layout="row" layout-wrap flex="100">
	<div>براي بيشتر آشنا شدن با فعاليت خود به ما کمک کنيد</div>
	<div></div>
</div>

<md-input-container flex="50" flex-xs="100" md-no-float>
	<md-icon>local_activity</md-icon>
	<md-select 
		md-on-open="getDynamicData('__IndustryList','','http://172.16.201.42:8089/attendance-rs-1.0/rest/api/v1/secure/base/industries','',[])"
		ng-model="Form.Industry" placeholder="نوع فعاليت" >
		<md-option ng-value="item.id" ng-repeat="item in __IndustryList" >
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container flex="50" flex-xs="100" md-no-float>
	<md-icon>folder_special</md-icon>
	<md-select 
		md-on-open="getDynamicData('__subList','','http://172.16.201.42:8089/attendance-rs-1.0/rest/api/v1/secure/base/industries/'+Form.Industry+'/sub-industries','',[])"
		ng-model="Form.subIndustryId" placeholder="فعاليت تخصصي" >
		<md-option ng-value="item.value" ng-repeat="item1 in __subList" >
			{{item1.title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-checkbox flex="100"   ng-model="Form.legal" >
	ما يک شرکت حقوقي هستيم
</md-checkbox>

<div layout="row" layout-wrap >
	<div>شما ميتوانيد به يک  مدير دسترسي نظارت دهيد</div>
	<div>{{Form.Office.value.nationalCode}}</div>
</div>

<md-input-container flex="100" flex-xs="100" >
    <md-icon>person</md-icon>
    <textarea flex="100" name="توضيحات" placeHolder="نام و نام خانوادگي مدير" ng-model="Form.accountantName"    md-></textarea>
    <div  role="alert"  >
        <div ng-message="required" class="my-message"></div>
    </div>
</md-input-container>

<md-checkbox    ng-model="Form.sendEmail" >
	دعوت از مدير
</md-checkbox>

<md-input-container  flex="100" flex-xs="100" md-no-float>
    <md-icon>mail</md-icon>
    <input ng-model="Form.eMail" ng-pattern="/^[a-zA-Z+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/" type="text" 
	 minlength="3" maxlength="200" 
	md-maxlength="200" type="text" placeholder="ايميل" 
	name="Form.accountantEmail"      >	
    <div class="hint"></div>
    <div  role="alert"  >
        <div ng-message="required" class="my-message"></div>
    </div>
</md-input-container>

<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_261895();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">تاييد و ادامه</span>   
</md-button>
<!--  -->
{{Form}}
---
{{x}}</div>  
		</div>
	<div>
</div> 
 </div>