<div ng-controller="Ctrl190398">
 	<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container  flex="100" flex-xs="100" >
    <md-icon>user</md-icon>
    <input ng-model="Form.username"   
	   
	md- type="text" placeholder="نام کاربري" 
	      >	
    <div class="hint">نام کاربري خود را وارد نماييد</div>
    <div  role="alert"  >
        <div ng-message="required" class="my-message"></div>
    </div>
</md-input-container>

<md-input-container  flex="100" flex-xs="100" md-no-float>
    <md-icon>security</md-icon>
    <input ng-model="Form.password"  type="password" 
	  maxlength="20" 
	md-maxlength="20" type="text" placeholder="کلمه عبور" 
	name="Password"      >	
    <div class="hint"></div>
    <div  role="alert"  >
        <div ng-message="required" class="my-message"></div>
    </div>
</md-input-container>

<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_272259();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">login</md-icon>
    <span class="md-inline-list-icon-label">ورود</span>   
</md-button>
<!--  -->
--{{__token}}--</div>  
		</div>
	<div>
</div> 
 </div>