<div ng-controller="Ctrl190433">
 	<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-menu-bar flex="20" flex-xs="20">
    <md-menu>
        <md-button class="md-icon-button" ng-click="$mdMenu.open()">
            <md-icon class="md-accent" style="font-size:24px !important">settings</md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item  ng-repeat="level1 in [
{'title':'item 1','list':[{'title':'item 1-1','icon':'home'},{'title':'item 1-2','icon':'home'}]},
{'title':'item 2','list':[{'title':'item 2-1','icon':'home'},{'title':'item 2-2','icon':'home'}]},
{'title':'item 3','list':[]}
]">
                    <md-menu-bar>
                        <md-menu>
							<md-button aria-label="Favorite" style="width:270px !important" ng-click="rootScope.test()">
								<div layout="row">
									{{level1.title}}
                                </div>
                            </md-button>
                            <md-menu-content ng-show="level1.list.length!=0" width="4" ng-mouseleave="$mdMenu.close()">
                                <md-menu-item ng-repeat="level2 in level1.list"
                                              >
                                    <md-button aria-label="Favorite">
                                        <md-icon flex="5">{{level2.icon}}</md-icon>
                                        {{level2.title}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
            </md-menu-item>
    </md-menu>
</md-menu-bar>

<div layout="column" layout-wrap >
	<div>شما ميتوانيد يک کارمند را اضافه نموده و يک نقش به ايشان در سازمان خود بدهيد.
کارمندان از طريق لينکي که به پست الکترونيک ويا  تلفن همراه آنان ارسال ميگردد ميتوانند يک حساب کاربري بسازند</div>
	<div>{{Form.Office.value.nationalCode}}</div>
</div>

<hr width="100%" />
<md-input-container flex="20" flex-xs="100" >
    <md-icon></md-icon>
    <textarea flex="100"  placeHolder="نام و نام خانوادگي"     md-></textarea>
    <div  role="alert"  >
        <div ng-message="required" class="my-message"></div>
    </div>
</md-input-container>

<md-input-container flex="20" flex-xs="100" >
    <md-icon></md-icon>
    <textarea flex="100" name="توضيحات" placeHolder="پست الکترونيک"     md-></textarea>
    <div  role="alert"  >
        <div ng-message="required" class="my-message"></div>
    </div>
</md-input-container>

<md-input-container flex="20" flex-xs="100" >
    <md-icon></md-icon>
    <textarea flex="100" name="توضيحات" placeHolder="شماره تلفن همراه"     md-></textarea>
    <div  role="alert"  >
        <div ng-message="required" class="my-message"></div>
    </div>
</md-input-container>

<md-input-container flex="25" flex-xs="100" md-no-float>
	<md-icon>roule</md-icon>
	<md-select 
		md-on-open="getDynamicData('__genderList',[{'title':'مالک','value':'01'},{'title':'مدير','value':'02'},
{'title':'کارمند','value':'02'}],'','',[])"
		ng-model="Form.Gender" placeholder="نقش سازماني" >
		<md-option ng-value="value" ng-repeat="item in __genderList" >
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<div layout-align="center center" flex="10" layout="row">
    <div flex="100">دعوت</div>
	<md-checkbox  layout-align="center center"   >
	</md-checkbox>
</div>
<div layout="row" layout-align="end center" flex="100">
    <md-button  
    	class="md-raised md-primary" 
    	ng-click=";" flex="20" flex-xs="100"  >
        <md-icon class="material-icons">add</md-icon>
        <span class="md-inline-list-icon-label">اضافه کردن</span>   
    </md-button>
</div>
<!--  --></div>  
		</div>
	<div>
</div> 
 </div>