<div ng-controller="Ctrl190419">
 	<div id="_template" class="template flex-100 layout-wrap layout-column">
 <div class="flex-100 layout-wrap layout-row">
  <div class="flex-100 layout-wrap layout-row"> </div>
    </div>
    <div class="flex-100 layout-wrap layout-row" layout-xs="column">
        <div class="flex-25 flex-xs-100 layout-column layout-padding col1" >  </div>
        <div class="flex-25 flex-xs-100 layout-column layout-padding col2" > 
<md-input-container flex="25" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		md-on-open="getDynamicData('__StateList','','','',[])"
		ng-model="Form.Gender" placeholder="Gender" >
		<md-option ng-value="item.id" ng-repeat="item in __StateList" >
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
{{Form.Gender}}
<div ng-init=" Form.Gender = 32 " style="display:none"></div>
<div ng-init="getDynamicData('__StateList','','http://172.16.201.42:8089/egov-base-rs-1.0/rest/api/v1/egov/regional/state/','state',[])" style="display:none"></div> </div>
        <div class="flex-25 flex-xs-100 layout-column layout-padding col3" >  </div>
        <div class="flex-25 flex-xs-100 layout-column layout-padding col4" >  </div>
    </div>   
    <div class="flex-100 layout-wrap layout-row">
        <div class="flex-100 layout-row layout-wrap"></div>
    </div>
    <div class="flex-100 layout-wrap layout-row">
        <div class="flex-100 layout-row layout-wrap">
                
        </div>
    </div>
</div> 
 </div>