<div ng-controller="Ctrl190436">
 	<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container flex="100" flex-xs="100" md-no-float>
	<md-icon>fmale</md-icon>
	<md-select 
		md-on-open="getDynamicData('__genderList',[{'title':'مرد','value':'01'},{'title':'زن','value':'02'}],'','',[])"
		ng-model="Form.Gender" placeholder="Gender" >
		<md-option ng-value="item.value" ng-repeat="item in __genderList" >
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
--{{Form.Gender}}--</div>  
		</div>
	<div>
</div> 
 </div>