<div oc-lazy-load="{name:'myApp',files:['Content/190673.js?r='+rand,'Design/design20247.js?r='+rand,'Design/design20251.js?r='+rand,'Design/design30288.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_20247"></div>
<div ng-controller="Design_20251"></div>
<div ng-controller="Design_30288"></div>

	<div ng-controller="Ctrl190673">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row">
		<div flex="50" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="90" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.VerifyCode"   
	  md- 
	 md-  
	
	name="VerifyCode"  required    >	
	<label>{{'کد فعال سازي'| translate }}</label>
    	<div class="hint" >{{'لطفا کد فعال سازي خود را  وارد کنيد' | translate }}</div>
    <div ng-messages="formData.VerifyCode.$error" role="alert">
		<div ng-message="required" class="my-message">
			{{ 'کد فعال سازي اجباري است' | translate }}
		</div>
	</div>
</md-input-container>
<md-button  
	class="md-raised md-primary" 
	
	ng-click="makeDesign_293422();" flex="45" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'ادامه' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-raised md-accent" 
	
	ng-click="makeDesign_303893();" flex="45" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'بازگشت' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	 ng-disabled="timerLimit>0"
	
	ng-click="makeDesign_303499();" flex="80" flex-xs="100"  >
    <md-icon class="material-icons">forward_30</md-icon>
    <span class="md-inline-list-icon-label">{{'ارسال مجدد پيامک' | translate}}</span>   
</md-button>
<!--  -->
{{timerLimit>0?(timerLimit/10 |number:0):''}}
<div ng-init="startTimer(300,'timerLimit','100')"></div>
<div ng-if="false">
	{{timerLimit}}
</div> </div>  
		</div>
		<div flex="50" flex-xs="100">
			<div flex="100" layout-wrap layout="row">
<div layout="row" layout-wrap >
	<div>لطفا کد ارسال شده به شماره همراه خود را وارد نماييد در صورت ارسال نشدن کد، دکمه ارسال مجدد پيامک را 
                کليک نماييد.</div>
	<div></div>
</div>
</div>  		
		</div>
	<div>
</div>
		</form>
	</div> 
</div> 
