<div oc-lazy-load="{name:'myApp',files:['Content/190695.js?r='+rand,'Design/design30269.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30269"></div>

	<div ng-controller="Ctrl190695">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row">
		<div flex="50" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="90" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.NationalCode"   
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="NationalCode"  required isNationalCode   >	
	<label>{{'شماره ملي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.nationalCode.$error" role="alert">
		<div ng-message="required" class="my-message">
			{{ 'NATIONAL_CODE_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="isnationalcode" class="my-message">
			{{ 'ENTER_THE_RIGHT_NATIONAL_CODE' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="90" flex-xs="100" md-no-float>
    <md-icon></md-icon>
    <input ng-model="Form.Mobile"   
	mask="09999999999"  md- 
	maxlength="11" md-maxlength="11"  
	
	  required    >	
	<label>{{'تلفن همراه'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-raised md-primary" 
	
	ng-click="makeDesign_303703();" flex="90" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'ادامه' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
		<div flex="50" flex-xs="100">
			<div flex="100" layout-wrap layout="row">
<div layout="row" layout-wrap >
	<div>لطفا جهت ثبت نام در سامانه منادا شماره ملي و شماره همراه خود را وارد نماييد.</div>
	<div></div>
</div>
</div>  		
		</div>
	<div>
</div>
		</form>
	</div> 
</div> 
