<div oc-lazy-load="{name:'myApp',files:['Content/190686.js?r='+rand,'Design/design30257.js?r='+rand,'Design/design30258.js?r='+rand,'Design/design30262.js?r='+rand,'Design/design30261.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30257"></div>
<div ng-controller="Design_30258"></div>
<div ng-controller="Design_30262"></div>
<div ng-controller="Design_30261"></div>

	<div ng-controller="Ctrl190686">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<div ng-init="design_30257(this)" style="display:none"></div>

<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.user.FirstName"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'نام'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.user.LastName"  ng-disabled="true" >	
	<label>{{'نام خانوادگي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.user.StrGender"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'جنسيت'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.user.PostTitle"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'پست سازماني'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Title"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'عنوان سازمان'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.PostalCode"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'کد پستي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Mobile"  type="cellPhone" 
	mask="09999999999"  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'تلفن همراه'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Fax"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'فکس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.AccountNumber"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'شماره حساب'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.StateTitle"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'استان'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.TownTitle"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'شهر'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Phone"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'شماره تلفن'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="40" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Shaba"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'شماره شبا'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="60" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Address"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'آدرس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div layout="row" flex="15" flex-xs="10">
</div>
<div layout="column" layout-align="center center">
<div>لوگوي سازمان</div>
<img src="{{Form.Logo}}"      >
</div>
<div layout="row" flex="25" flex-xs="10">
</div>
<div layout="column" layout-align="center center">
<div>امضاي مديرعامل</div>
<img src="{{Form.Sign}}"      >
</div>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Description"   
	  md- 
	 md-  
	
	  required    >	
	<label>{{'توضيحات'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-list-item-content md-primary md-raised" 
	
	ng-click="makeDesign_303539();" flex="30" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'تاييد درخواست' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-primary md-raised" 
	
	ng-click="makeDesign_303540();" flex="30" flex-xs="100"  >
    <md-icon class="material-icons">highlight_off</md-icon>
    <span class="md-inline-list-icon-label">{{'رد درخواست' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-accent md-raised" 
	
	ng-click="makeDesign_303575();" flex="30" flex-xs="100"  >
    <md-icon class="material-icons">keyboard_backspace</md-icon>
    <span class="md-inline-list-icon-label">{{'بازگشت' | translate}}</span>   
</md-button>
<!--  --></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
