<div oc-lazy-load="{name:'myApp',files:['Content/190697.js?r='+rand,'Design/design30272.js?r='+rand,'Design/design30261.js?r='+rand,'Design/design30303.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30272"></div>
<div ng-controller="Design_30261"></div>
<div ng-controller="Design_30303"></div>

	<div ng-controller="Ctrl190697">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<div ng-init="design_30272(this)" style="display:none"></div>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.user.FirstName"   
	  md- 
	 md-  
	
	name="FirstName"     ng-disabled="true" >	
	<label>{{'نام'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.LastName"   
	  md- 
	 md-  
	
	name="LastName"     ng-disabled="true" >	
	<label>{{'نام خانوادگي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Title"   
	  md- 
	 md-  
	
	name="Title"     ng-disabled="true" >	
	<label>{{'عنوان دفتر'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Code"   
	  md- 
	 md-  
	
	name="Code"     ng-disabled="true" >	
	<label>{{'کد دفتر'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div data-ng-init=" __genderList = isNullList([{'title':'مرد','value':1},{'title':'زن','value':2}]) " style="display:none"></div>
<div data-ng-init=" Form.Gender = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon>fmale</md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__genderList',[],'','','',[],this)"
		ng-model="Form.Gender" placeholder="{{'جنسيت' | translate}}" >
		<md-option  ng-repeat="item in __genderList" value="{{item.value}}">
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<div data-ng-init=" __stateList = isNullList() " style="display:none"></div>
<div data-ng-init=" Form.StateId = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		disabled="true"
		md-on-open="getDynamicData('__stateList','','','State/Get','',[],this)"
		ng-model="Form.StateId" placeholder="{{'استان' | translate}}" >
		<md-option  ng-repeat="item in __stateList" value="{{item.StateId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<div data-ng-init=" __cityList = isNullList() " style="display:none"></div>
<div data-ng-init=" Form.TownId = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		disabled="true"
		md-on-open="getDynamicData('__cityList','','0','Town/Get?StateId='+Form.StateId+'','',,this)"
		ng-model="Form.TownId" placeholder="{{'شهر' | translate}}" >
		<md-option  ng-repeat="item in __cityList" value="{{item.TownId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Phone" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="Phone"     ng-disabled="true" >	
	<label>{{'شماره تماس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Fax" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="Fax"   valid-number  ng-disabled="true" >	
	<label>{{'فکس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.AccountNumber"   
	  md- 
	 md-  
	
	name="AccountNumber"     ng-disabled="true" >	
	<label>{{'شماره حساب'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Shaba"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'شماره شبا'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.PostalCode" ng-pattern="/^[13-9]*$/"  
	mask="99999-99999"  md- 
	 md-  
	
	name="PostalCode"      >	
	<label>{{'کد پستي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Address"   
	  md- 
	 md-  
	
	      >	
	<label>{{'آدرس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div layout="column" layout-align="center center" flex="100">
<div>مجوز دفتر</div>
<img src="{{Form.Logo}}" width="100" height="100"  layout-padding  >
</div>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Description"   
	  md- 
	 md-  
	
	      >	
	<label>{{'توضيحات'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-list-item-content md-raised md-primary" 
	
	ng-click="makeDesign_303736();" flex="30" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'تاييد درخواست' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-raised md-primary" 
	
	ng-click="makeDesign_303738();" flex="30" flex-xs="100"  >
    <md-icon class="material-icons">highlight_off</md-icon>
    <span class="md-inline-list-icon-label">{{'رد درخواست' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-raised md-accent" 
	
	ng-click="makeDesign_303737();" flex="30" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'بازگشت' | translate}}</span>   
</md-button>
<!--  --></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
