<div oc-lazy-load="{name:'myApp',files:['Content/190689.js?r='+rand,'Design/design30260.js?r='+rand,'Design/design30265.js?r='+rand,'Design/design30266.js?r='+rand,'Design/design30301.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30260"></div>
<div ng-controller="Design_30265"></div>
<div ng-controller="Design_30266"></div>
<div ng-controller="Design_30301"></div>

	<div ng-controller="Ctrl190689">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<div ng-init="design_30260(this)" style="display:none"></div>

<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.FirstName"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'نام'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.LastName"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'نام خانوادگي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.NationalCode"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'کد ملي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Mobile"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'شماره همراه'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div data-ng-init=" __genderList = isNullList([{'title':'مرد','value':'01'},{'title':'زن','value':'02'}]) " style="display:none"></div>
<div data-ng-init=" Form.Gender = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon>fmale</md-icon>
	<md-select 
		disabled="true"
		md-on-open="getDynamicData('__genderList',[],'','','',[],this)"
		ng-model="Form.Gender" placeholder="{{'جنسيت' | translate}}" >
		<md-option  ng-repeat="item in __genderList" value="{{item.value}}">
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<div data-ng-init=" __postList = isNullList() " style="display:none"></div>
<div data-ng-init=" Form.PostId = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		disabled="true"
		md-on-open="getDynamicData('__postList','','0','Post/ExpertGet','',[],this)"
		ng-model="Form.PostId" placeholder="{{'پست سازماني' | translate}}" >
		<md-option  ng-repeat="item in __postList" value="{{item.PostId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Address"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'آدرس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-raised md-primary" 
	
	ng-click="makeDesign_303609();" flex="30" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'فعال' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-raised md-primary" 
	
	ng-click="makeDesign_303684();" flex="30" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'غير فعال' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-raised md-accent" 
	
	ng-click="makeDesign_304074();" flex="30" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'بازگشت' | translate}}</span>   
</md-button>
<!--  --></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
