<div oc-lazy-load="{name:'myApp',files:['Content/190688.js?r='+rand,'Design/design30295.js?r='+rand,'Design/design30282.js?r='+rand]}"> 
	<div ng-controller="Design_30295"></div>
<div ng-controller="Design_30282"></div>

	<div ng-controller="Ctrl190688">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<div layout="row" flex="33" flex-xs="10">
</div>
<div layout="row" layout-wrap flex="100" flex-xs="100">
	<div ng-repeat="item in Form.Menu" layout="row" flex="25">
		<md-card flex="100" flex-xs="100" layout-align="center center" layout-padding>
			<md-icon flex="100" style="font-size:50px;width: 50px;height: 50px;color: #009587 !important;">{{item.Icon}}</md-icon>
	        <md-card-title flex="100" ng-click="navigateULR(item.PageId,item.PageContentId)">
				<md-card-title-text layout="row" flex="100" layout-wrap>
					<span class="md-title" flex="100">{{item.Title}}</span>
				</md-card-title-text>
			</md-card-title>   
			<hr class="scaling_border1"/>
            <div class="md-subhead" flex="100" style="text-align: justify;">{{item.Description}}</div>
		    <md-card-actions layout="row" layout-align="end center" flex="100">
        			<md-button class="md-raised md-primary" aria-label="Favorite" ng-click="navigateULR(item.PageId,item.PageContentId)">
        				ورود
        			</md-button>
			</md-card-actions>
		</md-card>
	</div>
</div>
<div ng-init="design_30295(this)" style="display:none"></div>
<div ng-init=" Form.Menu = {{}} " style="display:none"></div></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
