<div oc-lazy-load="{name:'myApp',files:['Content/190675.js?r='+rand,'Design/design30251.js?r='+rand,'Design/design30288.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30251"></div>
<div ng-controller="Design_30288"></div>

	<div ng-controller="Ctrl190675">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.FirstName"   
	  md- 
	 md-  
	
	  required    >	
	<label>{{'نام'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.LastName"   
	  md- 
	 md-  
	
	  required    >	
	<label>{{'نام خانوادگي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" md-no-float>
    <md-icon></md-icon>
    <input ng-model="Form.Mobile"  type="cellPhone" 
	mask="09999999999"  md- 
	maxlength="11" md-maxlength="11"  
	
	name="Mobile"  required    >	
	<label>{{'شماره همراه'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon>id</md-icon>
    <input ng-model="Form.NationalCode"   
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="NationalCode"  required isNationalCode   >	
	<label>{{'شماره ملي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div data-ng-init=" __genderList = isNullList([{'title':'مرد','value':'01'},{'title':'زن','value':'02'}]) " style="display:none"></div>
<div data-ng-init=" Form.StrGender = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon>fmale</md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__genderList',[],'','','',[],this)"
		ng-model="Form.StrGender" placeholder="{{'جنسيت' | translate}}" >
		<md-option  ng-repeat="item in __genderList" value="{{item.value}}">
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<div data-ng-init=" __postList = isNullList() " style="display:none"></div>
<div data-ng-init=" Form.PostId = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__postList','','0','Post/ExpertGet','',[],this)"
		ng-model="Form.PostId" placeholder="{{'پست سازماني' | translate}}" >
		<md-option  ng-repeat="item in __postList" value="{{item.PostId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Address"   
	  md- 
	 md-  
	
	      >	
	<label>{{'آدرس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-raised md-primary" 
	
	ng-click="makeDesign_293455();" flex="45" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'ثبت' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_303931();" flex="45" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'بازگشت' | translate}}</span>   
</md-button>
<!--  --></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
