<div oc-lazy-load="{name:'myApp',files:['Content/190693.js?r='+rand,'Design/design30268.js?r='+rand,'Design/design30285.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30268"></div>
<div ng-controller="Design_30285"></div>

	<div ng-controller="Ctrl190693">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.FirstName"  type="text" 
	  md- 
	 md-  
	
	name="FirstName"  required    >	
	<label>{{'نام'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.FirstName.$error" role="alert">
		<div ng-message="required" class="my-message">
			{{ 'وارد کردن نام الزامي است' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.LastName"   
	  md- 
	 md-  
	
	  required    >	
	<label>{{'نام خانوادگي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.LastName.$error" role="alert">
		<div ng-message="required" class="my-message">
			{{ 'وارد کردن نام الزامي است' | translate }}
		</div>
	</div>
</md-input-container>
<div data-ng-init=" __genderlist = isNullList([{'title':'مرد','value':1},{'title':'زن','value':2}]) " style="display:none"></div>
<div data-ng-init=" Form.StrGender = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__genderlist',[],'','','',[],this)"
		ng-model="Form.StrGender" placeholder="{{'جنسيت' | translate}}" >
		<md-option  ng-repeat="item in __genderlist" value="{{item.value}}">
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Title"   
	  md- 
	 md-  
	
	name="Title"  required    >	
	<label>{{'عنوان دفتر'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.Title.$error" role="alert">
		<div ng-message="required" class="my-message">
			{{ 'وارد کردن عنوان سازمان الزامي است' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Code" ng-pattern="/^[0-9]*$/"  
	  md- 
	 md-  
	
	  required    >	
	<label>{{'کد دفتر'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div data-ng-init=" __OrganizationTypeList = isNullList() " style="display:none"></div>
<div data-ng-init=" Form.OrganizationsTypeId = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__OrganizationTypeList','','0','OrganizationType/Get','',[],this)"
		ng-model="Form.OrganizationsTypeId" placeholder="{{'نوع دفتر' | translate}}" >
		<md-option  ng-repeat="item in __OrganizationTypeList" value="{{item.OrganizationsTypeId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<div data-ng-init=" __stateList = isNullList() " style="display:none"></div>
<div data-ng-init=" Form.StateId = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__stateList','','0','State/Get','',[],this)"
		ng-model="Form.StateId" placeholder="{{'استان' | translate}}" >
		<md-option  ng-repeat="item in __stateList" value="{{item.StateId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<div data-ng-init=" __cityList = isNullList() " style="display:none"></div>
<div data-ng-init=" Form.TownId = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__cityList','','0','Town/Get?StateId='+Form.StateId+'','','',this)"
		ng-model="Form.TownId" placeholder="{{'شهر' | translate}}" >
		<md-option  ng-repeat="item in __cityList" value="{{item.TownId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Phone" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	  required valid-number   >	
	<label>{{'شماره تلفن'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="50" >
    <md-icon></md-icon>
    <input ng-model="Form.Fax" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="faxNumber"  required valid-number   >	
	<label>{{'فکس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.AccountNumber"   
	  md- 
	 md-  
	
	name="AccountNumber"  required    >	
	<label>{{'شماره حساب'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.PostalCode"   
	mask="99999-99999"  md- 
	 md-  
	
	name="PostalCode"  required    >	
	<label>{{'کد پستي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="40" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Shaba"   
	mask="IR.99.9999.9999.9999.9999.9999.99"  md- 
	 md-  
	
	  required    >	
	<label>{{'شماره شبا'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="60" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Address"   
	  md- 
	 md-  
	
	      >	
	<label>{{'آدرس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div layout="column" flex="100" layout-align="center center">
	<div style="margin: 10px auto;">مجوز دفتر</div>
	<div  
		style="height:100px;width:100px;
		border:solid 1px silver;
		background:url('{{Form.Logo}}');
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		border-radius:px;
		position:relative;
		" >
	</div>
	<div layout-padding style="width:100px;position:relative">
		<input ng-model="Form.Logo" type="file"  accept="image"
		style="color:transparent"
		onchange="angular.element(this).scope().uploadedFile(this,'Form.Logo__')" >
	</div>
</div>

<md-button  
	class="md-raised md-primary" 
	
	ng-click="makeDesign_303646();" flex="45" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'ثبت درخواست' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-raised md-primary" ng-disabled="IsActive"
	
	ng-click="makeDesign_303896();" flex="45" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'ثبت نهايي' | translate}}</span>   
</md-button>
<!--  --></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
