<div oc-lazy-load="{name:'myApp',files:['Content/190718.js?r='+rand,'Design/design30302.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30302"></div>

	<div ng-controller="Ctrl190718">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<div ng-init="design_(this)" style="display:none"></div>
<div layout="row" layout-wrap >
	<div></div>
	<div></div>
</div>

<div layout="row" layout-wrap >
	<div></div>
	<div>{{Form.Office.value.nationalCode}}</div>
</div>

<div layout="row" layout-wrap >
	<div>شماره ملي :</div>
	<div>{{Form.Office.value.nationalCode}}</div>
</div>

<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.MessageId"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{''| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.MessageId"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{''| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
