<div oc-lazy-load="{name:'myApp',files:['Content/190701.js?r='+rand,'Design/design30275.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30275"></div>

	<div ng-controller="Ctrl190701">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<div ng-init="design_30275(this)" style="display:none"></div>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.FirstName"  type="text" 
	  md- 
	 md-  
	
	name="FirstName"  required    >	
	<label>{{'نام'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.LastName"  type="text" 
	  md- 
	 md-  
	
	name="LastName"  required    >	
	<label>{{'نام خانوادگي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.NationalCode"   
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="NationalCode"  required isNationalCode   >	
	<label>{{'شماره ملي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.nationalCode.$error" role="alert">
		<div ng-message="required" class="my-message">
			{{ 'NATIONAL_CODE_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="isnationalcode" class="my-message">
			{{ 'ENTER_THE_RIGHT_NATIONAL_CODE' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Mobile"  type="cellPhone" 
	  md- 
	 md-  
	
	name="Mobile"  required    >	
	<label>{{'شماره همراه'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div data-ng-init=" __genderList = isNullList([{'title':'مرد','value':'01'},{'title':'زن','value':'02'}]) " style="display:none"></div>
<div data-ng-init=" Form.Gender = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon>fmale</md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__genderList',[],'','','',[],this)"
		ng-model="Form.Gender" placeholder="{{'جنسيت' | translate}}" >
		<md-option  ng-repeat="item in __genderList" value="{{item.value}}">
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<div data-ng-init=" __postList = isNullList() " style="display:none"></div>
<div data-ng-init=" Form.PostId = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		
		md-on-open="getDynamicData('__postList',,'0','Post/ExpertGet','',[],this)"
		ng-model="Form.PostId" placeholder="{{'پست سازماني' | translate}}" >
		<md-option  ng-repeat="item in __postList" value="{{item.value}}">
			{{item.title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Address"   
	  md- 
	 md-  
	
	      >	
	<label>{{'آدرس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div layout="row" flex="30" flex-xs="10">
</div>
<md-button  
	class="md-raised md-primary" 
	
	ng-click="makeDesign_303761();" flex="35" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'ثبت' | translate}}</span>   
</md-button>
<!--  -->
<div layout="row" flex="30" flex-xs="10">
</div></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
