<div oc-lazy-load="{name:'myApp',files:['Content/190705.js?r='+rand,'Design/design30280.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_30280"></div>

	<div ng-controller="Ctrl190705">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<div ng-init="design_30279(this)" style="display:none"></div>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.user.FirstName"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'نام'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.user.LastName"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'نام خانوادگي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.user.StrGender"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'جنسيت'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.user.PostTitle"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'پست سازماني'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Title"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'عنوان دفتر'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.PostalCode"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'کد پستي'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Mobile"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'تلفن همراه'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Fax"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'فکس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Code"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'کد دفتر'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div data-ng-init=" __stateList = isNullList() " style="display:none"></div>
<div data-ng-init=" Form.StateId = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		disabled="true"
		md-on-open="getDynamicData('__stateList','','0','State/Get','',[],this)"
		ng-model="Form.StateId" placeholder="{{'استان' | translate}}" >
		<md-option  ng-repeat="item in __stateList" value="{{item.StateId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<div data-ng-init=" __cityList = isNullList() " style="display:none"></div>
<div data-ng-init=" Form.TownId = isNullObject() " style="display:none"></div>

<md-input-container flex="33" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		disabled="true"
		md-on-open="getDynamicData('__cityList','','0','Town/Get?StateId='+Form.StateId+'','city','',this)"
		ng-model="Form.TownId" placeholder="{{'شهر' | translate}}" >
		<md-option  ng-repeat="item in __cityList" value="{{item.TownId}}">
			{{item.Title}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.AccountNumber"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'شماره حساب'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="33" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.OrganizationType.Title"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'نوع دفتر'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="45" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Shaba"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'شماره شبا'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.Address"   ng-disabled="true" >	
	<label>{{'آدرس'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<div layout="row" flex="30" flex-xs="10">
</div>
<md-button  
	class="md-list-item-content md-raised md-primary" 
	
	ng-click="makeDesign_303847();" flex="35" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'بستن' | translate}}</span>   
</md-button>
<!--  -->
<div layout="row" flex="30" flex-xs="10">
</div></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
