<div id="_template" class="template flex-100 layout-wrap layout-column">
 <div class="flex-100 layout-wrap layout-row">
  <div class="flex-100 layout-wrap layout-row"> 
		<md-card flex="100" layout-padding>
			<md-title>قوانين</md-title>
			<md-content><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div></md-content>

			<div layout="row">
				<md-checkbox  ng-model="Form.ruleAccepted" >
					قوانين سايت را مي پذيرم
				</md-checkbox>	
				
				<md-button ng-if="Form.ruleAccepted" class="md-raised md-primary" ng-click="design_10029();">
					<span class="md-inline-list-icon-label">ادامه</span>   
				</md-button>
			</div>
		</md-card></div>
    </div>
    <div class="flex-100 layout-wrap layout-row" layout-xs="column">
        <div class="flex-25 flex-xs-100 layout-column layout-padding col1" >  </div>
        <div class="flex-25 flex-xs-100 layout-column layout-padding col2" >  </div>
        <div class="flex-25 flex-xs-100 layout-column layout-padding col3" >  </div>
        <div class="flex-25 flex-xs-100 layout-column layout-padding col4" >  </div>
    </div>   
    <div class="flex-100 layout-wrap layout-row">
        <div class="flex-100 layout-row layout-wrap"></div>
    </div>
    <div class="flex-100 layout-wrap layout-row">
        <div class="flex-100 layout-row layout-wrap">
                
        </div>
    </div>
</div>