<md-button aria-label="Favorite" ng-click="newTableRow(180395,190599, item.keys[$index])" ng-show="true">
	<md-icon flex="5">add_box</md-icon>
	Add
</md-button>	
<table flex="100" ng-table="tableParams"  show-filter="true">
	<tr ng-repeat="item in $data">
		<td title="('id'|translate)"  sortable="'id'" ng-init="item.keys[$index].id = item.id" flex="25" >{{item.id}}</td>
		<td title="('firstName'|translate)"  sortable="'firstName'"  flex="25" >{{item.firstName}}</td>
		<td title="('birthDate'|translate)" filter = "{ birthDate: 'text'}" sortable="'birthDate'"  flex="25" >{{item.birthDate}}</td>
		<td title="('education'|translate)"  sortable="'education'"  flex="25" >{{item.education}}</td>
		<td flex="5">
			<md-menu-bar>
				<md-menu>
					<md-button class="md-icon-button" ng-click="$mdMenu.open()">
						<md-icon class="md-accent" style="font-size:24px !important">list_alt</md-icon>
					</md-button>
					<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
						<md-menu-item ng-click="viewTableRow(180395,190599, item.keys[$index])" ng-show="true">
							<md-button aria-label="Favorite" >
								<md-icon flex="5">view</md-icon>
								select
							</md-button>
						</md-menu-item>
						<md-menu-item ng-click="editTableRow(180395,190599, item.keys[$index])" ng-show="true">
							<md-button aria-label="Favorite" >
								<md-icon flex="5">edit</md-icon>
								edit
							</md-button>
						</md-menu-item>
						<md-menu-item  ng-show="true">
							<md-button aria-label="Favorite" >
								<md-icon flex="5">remove</md-icon>
								delete
							</md-button>
						</md-menu-item>			
					</md-menu-content>
				</md-menu>
			</md-menu-bar>
		</td>
	</tr>
</table>
