<div oc-lazy-load="{name:'myApp',files:['Content/190526.js?r=2113462805']}"> 
	
	<div ng-controller="Ctrl190526">
	    <form id="" name="">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container  flex="100" flex-xs="100" >
    <md-icon>search</md-icon>
    <input ng-model="Form.Search"   
	   
	md- type="text"  
	      >	
	<label>{{'شماره ملي / شماره نظام پزشکي'| translate }}</label>
    <div class="hint">{{'ثبت نام يا ورود به پنل' | translate }}</div>
    <div  role="alert"  >
        <div ng-message="required" class="my-message">
		{{ '' | translate }}
		</div>
    </div>
</md-input-container>

<md-button  
	 
	ng-click="makeDesign_272604();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">Login</span>   
</md-button>
<!--  --></div>  
		</div>
	<div>
</div>
		</form>
	</div> 
</div> 
