<div oc-lazy-load="{name:'myApp',files:['Content/190524.js?r=332997563']}"> 
	
	<div ng-controller="Ctrl190524">
	    <form id="" name="">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-button  
	 
	ng-click="makeDesign_272606();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">add</md-icon>
    <span class="md-inline-list-icon-label">ADD_WORKING_TIME</span>   
</md-button>
<!--  -->
<table style="width:100%;">
	<tr layout-padding >
		<th>TITLE</th>
		<th>FROM_TIME</th>
		<th>TO_TIME</th>
		<th>WORKING_DATE</th>
		<th>REGISTER_DATE</th>
		<th>DELETE</th>
	</tr>
	<tr ng-repeat="WorkDay in _WorkDayList">
        <td>{{WorkDay.description}}</td>
	</tr>	
</table>


<div ng-init="getDynamicData('_WorkDayList',[{description:'1'}],'0','/workplace/list/agenda/exception/byexceptiontype','',[])" style="display:none"></div>
<div ng-click="showAdvanced($event,'addOffice.tmpl')">
	<md-icon>work</md-icon>
</div>

<div ng-if="content.pageContentId==190525">
	can not include same page as dialog
</div>
<md-dialog ng-if="content.pageContentId!=190525">
    <md-dialog-content>
		<script type="text/ng-template" id="addOffice.tmpl">
			<md-dialog flex="80">
				<md-dialog-content flex="100" style="height:600" layout-padding>
					<div ng-include="'Content/190525.html?r='+rootScope.rand" ></div>
				</md-dialog-content>
			</md-dialog>
		</script>
    </md-dialog-content>
</md-dialog>
</div>  
		</div>
	<div>
</div>
		</form>
	</div> 
</div> 
