<div oc-lazy-load="{name:'myApp',files:['Content/190478.js?r='+rand,'Design/design10092.js?r='+rand,'Design/design20198.js?r='+rand,'Design/design10100.js?r='+rand,'scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_10092"></div>
<div ng-controller="Design_20198"></div>
<div ng-controller="Design_10100"></div>

	<div ng-controller="Ctrl190478">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon>fingerprint</md-icon>
    <input ng-model="Form.nationalCode"   
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="nationalCode"  required isnationalcode   >	
	<label>{{'NATIONAL_CODE'| translate }}</label>
    	<div class="hint" ng-show="!formData.nationalCode.$touched || formData.nationalCode.$valid">{{'NATIONAL_CODE_HINT' | translate }}</div>
    <div ng-messages="formData.nationalCode.$error" role="alert">
		<div ng-message="required" class="my-message">
			{{ 'NATIONAL_CODE_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="isnationalcode" class="my-message">
			{{ 'ENTER_THE_RIGHT_NATIONAL_CODE' | translate }}
		</div>
			<div ng-message="maxlength" class="my-message">
        	{{ 'NATIONAL_CODE_IS_MORE_THAN_10_DIGITS' | translate }}	
	    </div>
		<div ng-message="minlength" class="my-message">
	        {{ 'NATIONAL_CODE_MUST_BE_10_DIGITS' | translate }}		
    	</div>
	</div>
</md-input-container>
<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_272343();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">login</md-icon>
    <span class="md-inline-list-icon-label">{{'SIGN_IN_SIGN_UP' | translate}}</span>   
</md-button>
<!--  --></div>  
	</div>
</div>

		</form>
	</div> 
</div> 
