<div oc-lazy-load="{name:'myApp',files:['Content/190601.js?r=1206697151','Design/design20188.js?r=855325260','Design/design20188.js?r=1625853188','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_20188"></div>
<div ng-controller="Design_20188"></div>

	<div ng-controller="Ctrl190601">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<div ng-init="Form.CertificateDate=setStandardDate('')"></div>
<md-input-container  >
	<label>{{''| translate }}</label>
        <md-persian-datepicker ng-model="Form.CertificateDate"   name="CertificateDate"  ></md-persian-datepicker>

</md-input-container>

<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_292982();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'تاييد و ادامه' | translate}}</span>   
</md-button>
<!--  -->
<md-input-container 
	   >
    <md-icon>time</md-icon>
    <input ng-model="Form.Time"  type="Time" 
	  md- 
	maxlength="5" md-maxlength="5"  
	
	name="Time"      >	
	<label>{{'Time'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	   >
    <md-icon>time</md-icon>
    <input ng-model="Form.Time1"  type="Time" 
	  md- 
	 md-  
	
	name="Time"      >	
	<label>{{'Time'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
{{keys}}
<div ng-init=" x = 2 " style="display:none"></div>
{{x}}</div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
