<div oc-lazy-load="{name:'myApp',files:['Content/js/190465.js','Design/design10089.js','Design/design10089.js']}"> 
<div ng-controller="Design_10089"></div>
<div ng-controller="Design_10089"></div>
<div ng-controller="Ctrl190465">
 	<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container  flex="100" flex-xs="100" >
    <md-icon>id</md-icon>
    <input ng-model="Form.NationalCode"   
	 minlength="10" maxlength="10" 
	md-maxlength="10" type="text" placeholder="شماره ملي" 
	name="NationalCode"   isNationalCode   >	
    <div class="hint"></div>
    <div  role="alert"  >
        <div ng-message="required" class="my-message"></div>
    </div>
</md-input-container>

<md-button  
	 
	ng-click="makeDesign_272296();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">ورود/ ثبت نام</span>   
</md-button>
<!--  --></div>  
		</div>
	<div>
</div> 
 </div>
</div>