

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<title>Picasso2 UI Generator</title>
<head>
    <meta charset="UTF-8">
    <meta company="hamfekrangroup.ir">
    <meta author="shahrokh hassanzadegan">
    <meta email="sh.h.zadegan@gmail.com">
	
	
	<!--Global JS for Skin -->
<script src="Scripts/angular.min.js"></script>
<script src="Scripts/angular-aria.min.js"></script>
<script src="Scripts/angular-animate.js"></script>
<script src="Scripts/angular-material.min.js"></script>
<script src="Scripts/angular-material-icons.min.js"></script>
<script src="Scripts/angular-route.min.js"></script>
<script src="Scripts/moment.min.js"></script>
<script src="Scripts/angular-messages.min.js"></script>
<!--End Global JS for Skin -->

 <script src="scripts/ngMask.min.js"></script>
 
 
 
<script src="scripts/moment-jalaali.js"></script>
<script src="scripts/datePicker.min.js"></script>

<script src="scripts/moment-jalaali.js"></script>


 
 
	<!--Global CSS for Skin -->
<link href="scripts/angular-material.min.css" rel="stylesheet" />
<link href="scripts/angular-material-font.css" rel="stylesheet" />
<link href="scripts/angular-fonts.css" rel="stylesheet" />
<link href="scripts/IRANSansWeb.css" rel="stylesheet" />
<!--End Global CSS for Skin -->
 <link href="scripts/md-input.css" rel="stylesheet" />
 
 
 
 
 
	
	<base >
<script>
    var app = angular.module("App", ['ngMaterial','ngMask','angular-material-persian-datepicker']);
	
	
    app.controller("Ctrl", ['$rootScope','$scope', '$http','$q','$filter','$mdDialog', function ($rootScope,$scope, $http,$q, $filter,$mdDialog){
		;
		$rootScope.contents=[];
		
			$rootScope.getRand = function(){
		$rootScope.rand = Math.random();
	}
	$rootScope.getRand();
	
	$rootScope.pageContentId = 	""+window.location.href.split("?")[1].split("&pageContentId=")[1].split("&")[0];
	$rootScope.navigateULR = function (pageId, pageContentId) {
		url = pageId+".html?r="+$rootScope.rand+"&pageContentId="+pageContentId;
		window.location.href = url;
	}
	
	$rootScope.selectedContent = function(){
		$rootScope.contents.filter(function (content,$index){
			if(content.pageContentId == $rootScope.pageContentId)
			{
				$rootScope.activeContent = $index;
				$rootScope.activeTitle = content.title;
				$rootScope.activeIcon = content.icon;
			}
		})
		return $rootScope.activeContent;
	}
	
	$rootScope.showNavigationList = function(navList){
		$rootScope.showNav = true;
		$rootScope.componentId = componentId;
	}		

 
 
 	$rootScope.uploadedFile = function(element,name) {
		$rootScope.currentFile = element.files[0];
		var reader = new FileReader();
		$rootScope.image_source = {};
		reader.onload = function(event) {
		  $rootScope.image_source[name] = event.target.result
		  $rootScope.$apply(function($rootScope) {
			$rootScope.files = element.files;
		  });
		}
		
		reader.readAsDataURL(element.files[0]);
	}
 
 $rootScope.showAdvanced = function (ev,template,param) {
	$rootScope.__param = param;
	$mdDialog.show({
		controller: mdDialogCtrl,
		templateUrl: template,
		parent: angular.element(document.body),
		targetEvent: ev,
		locals: {rootScope:$rootScope},
		clickOutsideToClose: true
	})
};

var mdDialogCtrl = function ($rootScope,rootScope) {
	$rootScope.rootScope = rootScope;
	$rootScope.hide = function () {
		$mdDialog.hide();
	};
	$rootScope.cancel = function () {
		$mdDialog.cancel();
	};
	$rootScope.answer = function (answer) {
		$mdDialog.hide(answer);
	};
}
 	$rootScope.getDynamicData = function(variable,staticData,url,catalog,filter){
		data={};
		data.item = catalog;
		data.filter = filter;
		if(staticData!='')
			$rootScope[variable] = staticData;
		else
		{
			$http({
				url: url,
				params:data,
				headers: { 'Content-Type': 'application/json' }
			})
			.then(function (response) {
				$rootScope[variable] = response.data;
			});
		}
	}
		
	}]);
	
	;
	
 
 app.directive('isnationalcode', function() {
	return {
		require: 'ngModel',
		link: function(scope, element, attr, mCtrl) {
			function myValidation(value) {
				if (!isNaN(value) && value.length==10) 
					mCtrl.$setValidity('isnationalcode', validateNationalNo(value));
				else 
					mCtrl.$setValidity('isnationalcode', false);
					
				return value; 
			}
			mCtrl.$parsers.push(myValidation);
		}
	};
	function validateNationalNo(value) {
		var regex = new RegExp('^(\\d)\\1+$');
		var isValidNumber=false;
		if(value.match(regex) == null)
			isValidNumber=true;
			if (!isNaN(value) && value.length==10 && isValidNumber) {
						var ld = Number(value.substring(9, 10));
						var n = 0, m;
						for (var i = 0; i < 9; i++) {
							n = n + Number(value.substring(i, i + 1)) * (10 - i);
						}
						m = n % 11;
						return (m == 0 && ld == 0) || (m == 1 && ld == 1) || (m > 1 && ld == 11 - m);
			}else
				return false;
	}	
});
 
 
 
 
</script>
</head>
<body ng-app="App" ng-controller="Ctrl" ng-cloak dir="RTL">
	<div ng-include="'header.html?r='+rand"></div>
  
    <form id="FormData" name="FormData">
			<!-- Page.ContainerType is mandatory token-->
			
<div layout="column" style="height:100vh" >
<div layout="row" flex="100" >
	<md-card layout="column" >
		<div ng-repeat="content in contents" >
			<md-button md-no-ink class="{{activeContent==$index?'md-raised md-primary':''}}" ng-click="$parent.activeContent=$index">
				<md-icon style="font-size:28px" >{{content.icon}}</md-icon>
				<div>{{content.title}}</div>
			</md-button>
		</div>
	</md-card>
	<div flex="100" layout-padding>
		<div ng-init="contents =[{'pageContentId':'190258','contentId':'160156', 'title':'اطلاعات پرسنلي','icon':'person'},{'pageContentId':'190265','contentId':'160160', 'title':'تعريف دفتر','icon':'work'},{'pageContentId':'190266','contentId':'160158', 'title':'دعوت','icon':'contact_phone'},{'pageContentId':'190267','contentId':'160157', 'title':'درخواستها','icon':'note'},{'pageContentId':'190286','contentId':'160176', 'title':'تعريف شرکت','icon':'info'},{'pageContentId':'190292','contentId':'160144', 'title':'موبايل','icon':'contact_phone'},{'pageContentId':'190293','contentId':'160145', 'title':'احراز موبايل','icon':'assignment'},{'pageContentId':'190294','contentId':'160146', 'title':'شرکت','icon':'info'},{'pageContentId':'190295','contentId':'160176', 'title':'تعريف شرکت','icon':'info'}];selectedContent();"></div>

		<div ng-repeat="content in contents" >
			<div ng-if="$parent.activeContent==$index" ng-include="'Content/'+content.pageContentId+'.html?r='+rand" ></div>
		</div>
	</div>
</div>
</div>

    </form>
</body>
</html>
