USE [picasso2]
GO
/****** Object:  Table [dbo].[Component]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Component](
	[ComponentId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[InheritedTypeId] [numeric](10, 0) NOT NULL,
	[ContentId] [numeric](8, 0) NOT NULL,
	[TileName] [varchar](100) NULL,
	[EventName] [varchar](100) NULL,
	[EventFunction] [varchar](4000) NULL,
	[RenderHTML] [varchar](4000) NULL,
	[OrderInTile] [numeric](2, 0) NULL,
	[ComponentName] [nvarchar](100) NULL,
 CONSTRAINT [PK_COMPONENT] PRIMARY KEY CLUSTERED 
(
	[ComponentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ComponentToken]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComponentToken](
	[ComponentTokenId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[ComponentId] [numeric](8, 0) NULL,
	[TokenName] [varchar](50) NULL,
	[TokenValue] [varchar](4000) NULL,
 CONSTRAINT [PK_COMPONENTTOKEN] PRIMARY KEY CLUSTERED 
(
	[ComponentTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContainerToken]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContainerToken](
	[ContainerTokenId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[PageId] [numeric](10, 0) NULL,
	[ProjectId] [numeric](8, 0) NULL,
	[TokenName] [varchar](50) NULL,
	[TokenValue] [varchar](400) NOT NULL,
 CONSTRAINT [PK_CONTAINERTOKEN] PRIMARY KEY CLUSTERED 
(
	[ContainerTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContainerType]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContainerType](
	[ContainerTypeId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[TokenizeString] [varchar](max) NOT NULL,
 CONSTRAINT [PK_CONTAINERTYPE] PRIMARY KEY CLUSTERED 
(
	[ContainerTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Content]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Content](
	[ContentId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[ContentName] [varchar](100) NULL,
	[Icon] [varchar](100) NULL,
	[LayoutId] [numeric](10, 0) NULL,
	[ProjectId] [numeric](8, 0) NULL,
 CONSTRAINT [PK_CONTENT] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Design]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Design](
	[DesignId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[DesignDesc] [nvarchar](4000) NOT NULL,
	[ProjectId] [numeric](8, 0) NULL,
	[isMulipledest] [numeric](1, 0) NULL,
	[PageContentId] [numeric](8, 0) NULL,
	[ActionUrl] [nvarchar](400) NULL,
	[ActionParameter] [nvarchar](400) NULL,
	[ReturnObject] [nvarchar](400) NULL,
	[ReturnStorage] [nvarchar](400) NULL,
	[MethodType] [nvarchar](50) NULL,
	[RenderJs] [nvarchar](4000) NULL,
	[BeforeCallback] [nvarchar](4000) NULL,
 CONSTRAINT [PK_DESIGN] PRIMARY KEY CLUSTERED 
(
	[DesignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DesignResult]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignResult](
	[DesignResultId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[DesignId] [numeric](8, 0) NULL,
	[DestPageContentId] [numeric](8, 0) NULL,
	[DestDesignId] [numeric](8, 0) NULL,
	[ResultCase] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_DESIGNRESULT] PRIMARY KEY CLUSTERED 
(
	[DesignResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GenerationType]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GenerationType](
	[GenerationTypeId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
 CONSTRAINT [PK_GENERATIONTYPE] PRIMARY KEY CLUSTERED 
(
	[GenerationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GenericType]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GenericType](
	[GenericTypeId] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[TokenizeString] [varchar](max) NOT NULL,
	[WebDefinerId] [numeric](8, 0) NULL,
	[GenerationTypeId] [numeric](8, 0) NULL,
 CONSTRAINT [PK_GENERICTYPE] PRIMARY KEY CLUSTERED 
(
	[GenericTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InheritedToken]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InheritedToken](
	[InheritedTokenId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[InheritedTypeId] [numeric](10, 0) NULL,
	[TokenName] [varchar](50) NULL,
	[TokenValue] [varchar](400) NOT NULL,
 CONSTRAINT [PK_INHERITEDTOKEN] PRIMARY KEY CLUSTERED 
(
	[InheritedTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InheritedType]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InheritedType](
	[InheritedTypeId] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[GenericTypeId] [numeric](10, 0) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[IsGeneric] [numeric](1, 0) NULL,
	[ProjectId] [numeric](8, 0) NULL,
	[GenerationTypeId] [numeric](8, 0) NULL,
	[WebDefinerId] [numeric](8, 0) NULL,
	[Description] [varchar](4000) NULL,
 CONSTRAINT [PK_INHERITEDTYPE] PRIMARY KEY CLUSTERED 
(
	[InheritedTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Layout]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Layout](
	[LayoutId] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[ProjectId] [numeric](8, 0) NULL,
	[TokenizeString] [varchar](max) NOT NULL,
	[LayoutName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_LAYOUT] PRIMARY KEY CLUSTERED 
(
	[LayoutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Navigation]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Navigation](
	[NavigationId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[ComponentId] [numeric](8, 0) NOT NULL,
	[SourcePageContentId] [numeric](8, 0) NULL,
	[DestDesignId] [numeric](8, 0) NULL,
 CONSTRAINT [PK_NAVIGATION] PRIMARY KEY CLUSTERED 
(
	[NavigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Page]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Page](
	[PageId] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[ProjectId] [numeric](8, 0) NOT NULL,
	[PageName] [varchar](100) NOT NULL,
	[DefaultContentId] [numeric](8, 0) NULL,
	[ContainerTypeId] [numeric](8, 0) NULL,
 CONSTRAINT [PK_PAGE] PRIMARY KEY CLUSTERED 
(
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PageContent]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageContent](
	[PageContentId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[ContentId] [numeric](8, 0) NOT NULL,
	[PageId] [numeric](10, 0) NULL,
	[OrderInPage] [numeric](3, 0) NULL,
	[PageContentName] [nvarchar](100) NULL,
 CONSTRAINT [PK_PAGECONTENT] PRIMARY KEY CLUSTERED 
(
	[PageContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[OwnerUserId] [numeric](8, 0) NOT NULL,
	[TemplateId] [numeric](8, 0) NULL,
	[ProjectName] [varchar](50) NOT NULL,
	[ProjectDescription] [varchar](400) NULL,
	[IsActive] [numeric](1, 0) NULL,
	[ScriptBasePath] [varchar](1000) NULL,
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProjectUser]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectUser](
	[ProjectUserId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[UserId] [numeric](8, 0) NOT NULL,
	[ProjectId] [numeric](8, 0) NOT NULL,
 CONSTRAINT [PK_PROJECTUSER] PRIMARY KEY CLUSTERED 
(
	[ProjectUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Template]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Template](
	[TemplateId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[TemplateTypeId] [numeric](8, 0) NOT NULL,
	[Title] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TEMPLATE] PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TemplateType]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemplateType](
	[TemplateTypeId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[TokenizeString] [varchar](max) NOT NULL,
	[IncludeTag] [varchar](4000) NULL,
	[WebDefinerId] [numeric](8, 0) NULL,
 CONSTRAINT [PK_TEMPLATETYPE] PRIMARY KEY CLUSTERED 
(
	[TemplateTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[DisplayName] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[UserToken] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserWish]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserWish](
	[UserWishId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[UserId] [numeric](8, 0) NULL,
	[Title] [varchar](4000) NULL,
	[Status] [numeric](1, 0) NULL,
 CONSTRAINT [PK_USERWISH] PRIMARY KEY CLUSTERED 
(
	[UserWishId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WebDefiner]    Script Date: 15/11/1397 06:28:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WebDefiner](
	[WebDefinerId] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[JS] [varchar](4000) NULL,
	[CSS] [varchar](4000) NULL,
	[InjectorList] [varchar](4000) NULL,
	[VariableList] [varchar](4000) NULL,
	[ParamList] [varchar](4000) NULL,
	[FunctionList] [varchar](4000) NULL,
	[Directive] [varchar](4000) NULL,
 CONSTRAINT [PK_WEBDEFINER] PRIMARY KEY CLUSTERED 
(
	[WebDefinerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Component]  WITH CHECK ADD  CONSTRAINT [FK_COMPONEN_REFERENCE_CONTENT] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([ContentId])
GO
ALTER TABLE [dbo].[Component] CHECK CONSTRAINT [FK_COMPONEN_REFERENCE_CONTENT]
GO
ALTER TABLE [dbo].[Component]  WITH CHECK ADD  CONSTRAINT [FK_COMPONEN_REFERENCE_INHERITE1] FOREIGN KEY([InheritedTypeId])
REFERENCES [dbo].[InheritedType] ([InheritedTypeId])
GO
ALTER TABLE [dbo].[Component] CHECK CONSTRAINT [FK_COMPONEN_REFERENCE_INHERITE1]
GO
ALTER TABLE [dbo].[ComponentToken]  WITH CHECK ADD  CONSTRAINT [FK_COMPONEN_REFERENCE_COMPONEN] FOREIGN KEY([ComponentId])
REFERENCES [dbo].[Component] ([ComponentId])
GO
ALTER TABLE [dbo].[ComponentToken] CHECK CONSTRAINT [FK_COMPONEN_REFERENCE_COMPONEN]
GO
ALTER TABLE [dbo].[ContainerToken]  WITH CHECK ADD  CONSTRAINT [FK_CONTAINE_REFERENCE_PAGE] FOREIGN KEY([PageId])
REFERENCES [dbo].[Page] ([PageId])
GO
ALTER TABLE [dbo].[ContainerToken] CHECK CONSTRAINT [FK_CONTAINE_REFERENCE_PAGE]
GO
ALTER TABLE [dbo].[ContainerToken]  WITH CHECK ADD  CONSTRAINT [FK_CONTAINE_REFERENCE_PROJECT] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[ContainerToken] CHECK CONSTRAINT [FK_CONTAINE_REFERENCE_PROJECT]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_REFERENCE_LAYOUT] FOREIGN KEY([LayoutId])
REFERENCES [dbo].[Layout] ([LayoutId])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_CONTENT_REFERENCE_LAYOUT]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_REFERENCE_PROJECT] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_CONTENT_REFERENCE_PROJECT]
GO
ALTER TABLE [dbo].[Design]  WITH CHECK ADD  CONSTRAINT [FK_DESIGN_REFERENCE_PAGECONT] FOREIGN KEY([PageContentId])
REFERENCES [dbo].[PageContent] ([PageContentId])
GO
ALTER TABLE [dbo].[Design] CHECK CONSTRAINT [FK_DESIGN_REFERENCE_PAGECONT]
GO
ALTER TABLE [dbo].[Design]  WITH CHECK ADD  CONSTRAINT [FK_DESIGN_REFERENCE_PROJECT] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[Design] CHECK CONSTRAINT [FK_DESIGN_REFERENCE_PROJECT]
GO
ALTER TABLE [dbo].[DesignResult]  WITH CHECK ADD  CONSTRAINT [FK_DESIGENR_REFERENCE_DESIGEN1] FOREIGN KEY([DesignId])
REFERENCES [dbo].[Design] ([DesignId])
GO
ALTER TABLE [dbo].[DesignResult] CHECK CONSTRAINT [FK_DESIGENR_REFERENCE_DESIGEN1]
GO
ALTER TABLE [dbo].[DesignResult]  WITH CHECK ADD  CONSTRAINT [FK_DESIGNRE_REFERENCE_DESIGN] FOREIGN KEY([DestDesignId])
REFERENCES [dbo].[Design] ([DesignId])
GO
ALTER TABLE [dbo].[DesignResult] CHECK CONSTRAINT [FK_DESIGNRE_REFERENCE_DESIGN]
GO
ALTER TABLE [dbo].[DesignResult]  WITH CHECK ADD  CONSTRAINT [FK_DESIGNRE_REFERENCE_PAGECONT] FOREIGN KEY([DestPageContentId])
REFERENCES [dbo].[PageContent] ([PageContentId])
GO
ALTER TABLE [dbo].[DesignResult] CHECK CONSTRAINT [FK_DESIGNRE_REFERENCE_PAGECONT]
GO
ALTER TABLE [dbo].[GenericType]  WITH CHECK ADD  CONSTRAINT [FK_GENERICT_REFERENCE_GENERATI] FOREIGN KEY([GenerationTypeId])
REFERENCES [dbo].[GenerationType] ([GenerationTypeId])
GO
ALTER TABLE [dbo].[GenericType] CHECK CONSTRAINT [FK_GENERICT_REFERENCE_GENERATI]
GO
ALTER TABLE [dbo].[GenericType]  WITH CHECK ADD  CONSTRAINT [FK_GENERICT_REFERENCE_WEBDEFIN] FOREIGN KEY([WebDefinerId])
REFERENCES [dbo].[WebDefiner] ([WebDefinerId])
GO
ALTER TABLE [dbo].[GenericType] CHECK CONSTRAINT [FK_GENERICT_REFERENCE_WEBDEFIN]
GO
ALTER TABLE [dbo].[InheritedToken]  WITH CHECK ADD  CONSTRAINT [FK_INHERITE_REFERENCE_INHERITE] FOREIGN KEY([InheritedTypeId])
REFERENCES [dbo].[InheritedType] ([InheritedTypeId])
GO
ALTER TABLE [dbo].[InheritedToken] CHECK CONSTRAINT [FK_INHERITE_REFERENCE_INHERITE]
GO
ALTER TABLE [dbo].[InheritedType]  WITH CHECK ADD  CONSTRAINT [FK_INHERITE_REFERENCE_GENERATI] FOREIGN KEY([GenerationTypeId])
REFERENCES [dbo].[GenerationType] ([GenerationTypeId])
GO
ALTER TABLE [dbo].[InheritedType] CHECK CONSTRAINT [FK_INHERITE_REFERENCE_GENERATI]
GO
ALTER TABLE [dbo].[InheritedType]  WITH CHECK ADD  CONSTRAINT [FK_INHERITE_REFERENCE_GENERICT] FOREIGN KEY([GenericTypeId])
REFERENCES [dbo].[GenericType] ([GenericTypeId])
GO
ALTER TABLE [dbo].[InheritedType] CHECK CONSTRAINT [FK_INHERITE_REFERENCE_GENERICT]
GO
ALTER TABLE [dbo].[InheritedType]  WITH CHECK ADD  CONSTRAINT [FK_INHERITE_REFERENCE_PROJECT] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[InheritedType] CHECK CONSTRAINT [FK_INHERITE_REFERENCE_PROJECT]
GO
ALTER TABLE [dbo].[InheritedType]  WITH CHECK ADD  CONSTRAINT [FK_INHERITE_REFERENCE_WEBDEFIN] FOREIGN KEY([WebDefinerId])
REFERENCES [dbo].[WebDefiner] ([WebDefinerId])
GO
ALTER TABLE [dbo].[InheritedType] CHECK CONSTRAINT [FK_INHERITE_REFERENCE_WEBDEFIN]
GO
ALTER TABLE [dbo].[Layout]  WITH CHECK ADD  CONSTRAINT [FK_LAYOUT_REFERENCE_PROJECT] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[Layout] CHECK CONSTRAINT [FK_LAYOUT_REFERENCE_PROJECT]
GO
ALTER TABLE [dbo].[Navigation]  WITH CHECK ADD  CONSTRAINT [FK_NAVIGATI_REFERENCE_COMPONEN] FOREIGN KEY([ComponentId])
REFERENCES [dbo].[Component] ([ComponentId])
GO
ALTER TABLE [dbo].[Navigation] CHECK CONSTRAINT [FK_NAVIGATI_REFERENCE_COMPONEN]
GO
ALTER TABLE [dbo].[Navigation]  WITH CHECK ADD  CONSTRAINT [FK_NAVIGATI_REFERENCE_DESIGN] FOREIGN KEY([DestDesignId])
REFERENCES [dbo].[Design] ([DesignId])
GO
ALTER TABLE [dbo].[Navigation] CHECK CONSTRAINT [FK_NAVIGATI_REFERENCE_DESIGN]
GO
ALTER TABLE [dbo].[Navigation]  WITH CHECK ADD  CONSTRAINT [FK_NAVIGATI_REFERENCE_PAGECONT] FOREIGN KEY([SourcePageContentId])
REFERENCES [dbo].[PageContent] ([PageContentId])
GO
ALTER TABLE [dbo].[Navigation] CHECK CONSTRAINT [FK_NAVIGATI_REFERENCE_PAGECONT]
GO
ALTER TABLE [dbo].[Page]  WITH CHECK ADD  CONSTRAINT [FK_PAGE_REFERENCE_CONTENT] FOREIGN KEY([DefaultContentId])
REFERENCES [dbo].[Content] ([ContentId])
GO
ALTER TABLE [dbo].[Page] CHECK CONSTRAINT [FK_PAGE_REFERENCE_CONTENT]
GO
ALTER TABLE [dbo].[Page]  WITH CHECK ADD  CONSTRAINT [FK_PAGE_REFERENCE_PROJECT] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[Page] CHECK CONSTRAINT [FK_PAGE_REFERENCE_PROJECT]
GO
ALTER TABLE [dbo].[PageContent]  WITH CHECK ADD  CONSTRAINT [FK_PAGECONT_REFERENCE_CONTENT] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([ContentId])
GO
ALTER TABLE [dbo].[PageContent] CHECK CONSTRAINT [FK_PAGECONT_REFERENCE_CONTENT]
GO
ALTER TABLE [dbo].[PageContent]  WITH CHECK ADD  CONSTRAINT [FK_PAGECONT_REFERENCE_PAGE] FOREIGN KEY([PageId])
REFERENCES [dbo].[Page] ([PageId])
GO
ALTER TABLE [dbo].[PageContent] CHECK CONSTRAINT [FK_PAGECONT_REFERENCE_PAGE]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_REFERENCE_TEMPLATE] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[Template] ([TemplateId])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_PROJECT_REFERENCE_TEMPLATE]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_REFERENCE_USER] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_PROJECT_REFERENCE_USER]
GO
ALTER TABLE [dbo].[ProjectUser]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTU_REFERENCE_PROJECT] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[ProjectUser] CHECK CONSTRAINT [FK_PROJECTU_REFERENCE_PROJECT]
GO
ALTER TABLE [dbo].[ProjectUser]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTU_REFERENCE_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ProjectUser] CHECK CONSTRAINT [FK_PROJECTU_REFERENCE_USER]
GO
ALTER TABLE [dbo].[Template]  WITH CHECK ADD  CONSTRAINT [FK_TEMPLATE_REFERENCE_TEMPLATE] FOREIGN KEY([TemplateTypeId])
REFERENCES [dbo].[TemplateType] ([TemplateTypeId])
GO
ALTER TABLE [dbo].[Template] CHECK CONSTRAINT [FK_TEMPLATE_REFERENCE_TEMPLATE]
GO
ALTER TABLE [dbo].[TemplateType]  WITH CHECK ADD  CONSTRAINT [FK_TEMPLATE_REFERENCE_WEBDEFIN] FOREIGN KEY([WebDefinerId])
REFERENCES [dbo].[WebDefiner] ([WebDefinerId])
GO
ALTER TABLE [dbo].[TemplateType] CHECK CONSTRAINT [FK_TEMPLATE_REFERENCE_WEBDEFIN]
GO
ALTER TABLE [dbo].[UserWish]  WITH CHECK ADD  CONSTRAINT [FK_USERWISH_REFERENCE_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserWish] CHECK CONSTRAINT [FK_USERWISH_REFERENCE_USER]
GO
