<div ng-show="current.selectedComponent.ComponentId>0" layout="column" flex="100" >
    <!--<div class="picasso_tbl_cmp" ng-repeat="token in current.selectedComponent.ComponentTokenList" layout="row">
        <div flex="35" style="font-size:9px">{{token.TokenName}}</div>
        <textarea flex="45" ng-model="token.TokenValue" ng-show="token.ComponentTokenId>0"
               ng-change="checkChange({$index},'{{token.TokenValue}}',1);"
               class="md-accent" placeholder="{{token.TokenName}}"
               style="background-color:#faeddf"
               ng-allow-tab
               ng-blur="saveComponentToken({$index})" ></textarea>
        <textarea flex="45" ng-model="token.InheritedTokenValue" ng-show="token.ComponentTokenId==0" style="width:100%;height:20px"
               ng-change="checkChange({$index},'{{token.InheritedTokenValue}}',2);"
               class="md-accent" placeholder="{{token.TokenName}}"
               ng-allow-tab
               ng-blur="saveComponentToken({$index})" ></textarea>

        <md-icon flex="5" ng-show="token.Overrided" ng-click="deleteComponentToken({$index})" class="mini-icon">delete</md-icon>
    </div>-->
</div>
