<md-input-container layout="row" flex="100" flex-xs="100" md-no-float>
    <md-select ng-model="rootScope.current.selectedComponent.Table.BaseUrlId" placeholder="url" flex="100">
        <md-option ng-value="">
        </md-option>
        <md-option ng-value="{{$index}}" ng-repeat="item in rootScope.current.project.BaseUrls">
            {{item}}
        </md-option>
    </md-select>
</md-input-container>

<md-input-container layout="row" flex="100" flex-xs="100" md-no-float>
    <md-select ng-model="rootScope.current.selectedComponent.Table.MethodType" placeholder="Method Type"
               ng-value="Post"
               flex="100">
        <md-option ng-value="item.value"
                   ng-repeat="item in [{'title':'Post','value':'Post'},{'title':'Get','value':'Get'}]">
            {{item.title}}
        </md-option>
    </md-select>
</md-input-container>

<md-input-container layout="row" flex="100" flex-xs="100" md-no-float>
    <md-input layout="row" flex="100">
        <input flex="100" ng-model="rootScope.current.selectedComponent.Table.ActionUrl"
               type="text" placeholder="Post Object">
    </md-input>
</md-input-container>

<md-input-container layout="row" flex="100" flex-xs="100" md-no-float>
    <md-input layout="row" flex="100">
        <input ng-model="rootScope.current.selectedComponent.Table.ActionParameter"
               type="text" placeholder="Get Parameter">
    </md-input>
</md-input-container>
<md-button flex="10" class="md-icon-button"
           ng-click="rootScope.callURL()">
    <md-icon class="md-accent">search</md-icon>
</md-button>