<!DOCTYPE html>
<html>
<head>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-aria.min.js"></script>
    <script src="scripts/angular-animate.js"></script>
    <script src="scripts/angular-material.min.js"></script>
    <script src="scripts/angular-material-icons.min.js"></script>
    <script src="scripts/moment.min.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular-messages.min.js"></script>
    <script src="scripts/angular-cookies.js"></script>
    <script src="scripts/ngStorage.min.js"></script>
    <script src="scripts/ngDraggable.js"></script>
    <script src="scripts/ngGroup.js"></script>

    <script src="scripts/moment-jalaali.js"></script>
    <script src="scripts/datePicker.min.js"></script>
    <script src="scripts/ng-map.min.js"></script>
    <script src="scripts/angular-sanitize.min.js"></script>
    <script src="scripts/md-steppers.min.js"></script>

    <link href="scripts/angular-material.min.css" rel="stylesheet" />
    <link href="scripts/picasso2App.css" rel="stylesheet" />
    <link href="scripts/angular-material-font.css" rel="stylesheet" />
    <link href="scripts/md-steppers.min.css" rel="stylesheet" />

    <script src="scripts/ace/src-noconflict/ace.js"></script>
    <script src="scripts/ace/src-noconflict/ext-language_tools.js"></script>
    <script src="scripts/ace/ace-angular.js"></script>

    <script src="scripts/ocLazyLoad/require.js"></script>
    <script src="scripts/ocLazyLoad/ocLazyLoad.min.js"></script>
    <script src="scripts/ocLazyLoad/ocLazyLoad.require.min.js"></script>

    <script src="panels/panel.js"></script>
    <script src="panels/theme.js"></script>

</head>
<body ng-app="myApp" ng-keydown="keyPress($event)" ng-click="documentClick($event)" layout="column" flex="100">
    <div ng-controller="mainController"></div>
    <div layout="column">
        <md-toolbar class="md-primary" ng-show="!F8">
            <div layout="row" flex="100">
                <md-title flex="30" class="Picasso_logoType" layout="row">
                    <div>
                        Picasso<font style="font-size:34px;" md-colors="{color:'default-accent-500-1'}">3</font>
                    </div>

                    <md-button ng-click="showThemeDialog()">
                        <font style="font-family:'Material Icons';font-size:40px;" md-colors="{color:'default-accent-500-1'}">...</font>
                    </md-button>
                </md-title>
                <div flex="65"></div>


                <md-button ng-click="signIn()" ng-show="!User.UserId">
                    <md-icon flex="10" class="toolbar_icon  md-accent">power_settings_new</md-icon>
                </md-button>

                <div flex="10" ng-show="User.UserId" layout="row" layout-align="right center">
                    <div ng-if="current.project!=null">
                        <div ng-init="getPanelList()"></div>
                        <div ng-init="getDashboardList()"></div>
                    </div>
                    <md-menu>
                        <div layout="row">
                            <md-button ng-mouseenter="$mdMenu.open()">
                                <md-icon class="md-accent md-icon-button" style="font-size:30px !important">settings</md-icon>
                            </md-button>
                        </div>
                        <md-menu-content ng-mouseleave="$mdMenu.close()" layout-padding>
                            <md-menu-item>
                                <md-button ng-click="signIn()">
                                    <md-icon flex="30" class="toolbar_icon  md-accent">power_settings_new</md-icon>
                                    Sign Out
                                </md-button>
                            </md-menu-item>
                            <div ng-if="current.project!=null">
                                <md-menu-item>
                                    <md-button ng-click="reCreateResources()">
                                        <md-icon class="toolbar_icon md-primary">build</md-icon>
                                        regenerate project structure
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="makeAllDesign()">
                                        <md-icon class="toolbar_icon md-primary">gamepad</md-icon>
                                        recreatue project designs
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="generateAll()">
                                        <md-icon class="toolbar_icon md-primary">local_bar</md-icon>
                                        generate all
                                    </md-button>
                                </md-menu-item>
                                <md-divider></md-divider>
                            </div>
                            <md-menu-item>
                                <md-button ng-click="panel.pages= !panel.pages">
                                    <md-icon class="toolbar_icon md-primary">home</md-icon>
                                    Show Project Structute
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="panel.component = !panel.component">
                                    <md-icon class="toolbar_icon md-primary">dashboard</md-icon>
                                    Show Property panel
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button ng-click="showThemeDialog($event)">
                                    <md-icon class="toolbar_icon md-primary">assistant</md-icon>
                                    Change Theme
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="showWishDialog($event)">
                                    <md-icon class="toolbar_icon md-primary">assistant</md-icon>
                                    I wisth ...
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="panel.code = !panel.code">
                                    <md-icon class="toolbar_icon md-primary">code</md-icon>
                                    show code
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>



                    </md-menu>
                    <md-progress-linear ng-show="isGenerating" md-mode="indeterminate"></md-progress-linear>

                </div>
            </div>

        </md-toolbar>
        <md-toolbar md-colors="{background:'default-primary-800-1'}"
                    style="max-height:20px;min-height:20px;font-size:14px;" ng-show="!F8">
            <div flex="100" ng-include="'panels/info/userInfoPanel.html?r='+rand"></div>
        </md-toolbar>
        <div layout="row">
            <md-card flex="20" ng-show="!panel.pages && !F8" layout="column">
                <div ng-include="'panels/page/pagePanel.html?r='+rand" layout-padding></div>
                <div flex="60" ng-include="'panels/info/'+current.pageInfo+'.html?r='+rand" layout-padding></div>
            </md-card>
            <md-card flex="20" layout="column" ng-show="panel.showContent && !F8">
                <div flex="100" ng-include="'panels/content/projectContentPanel.html?r='+rand"></div>
            </md-card>
            <div flex="100">
                <div layout="column" flex="100" style="height:100vh">
                    <div style="position:absolute;bottom:0px">
                        <a href="{{current.path}}" target="_blank">
                            <md-icon>list_alt</md-icon>
                        </a>
                    </div>

                    <div ng-include="'viewer/10/100131/part.html?r='+rand"></div>
                    <!--<iframe ng-if="current.path!=null" ng-show="User.UserId" frameborder="0" id="viewerFrame" layout-wrap
                            flex="100" src="{{current.path}}" style="height:100%"></iframe>-->
                </div>
            </div>
            <md-card flex="25" layout-padding ng-show="!F8 && User.UserId" layout="column">
                <div flex="30" ng-include="'panels/layout/layoutPanel.html?r='+rand" layout="column"></div>
                <div ng-include="'panels/component/componentPanel.html?r='+rand" layout="column"></div>
                <div flex="10" ng-include="'panels/generate/generatePanel.html?r='+rand"></div>
            </md-card>
        </div>
        <textArea flex="100" style="width:100%;position:fixed;height:250px;bottom:0px;background:#f8f3eb" ng-if="panel.code && !F8">
            {{current.selectedComponent.Design}}
        </textArea>
    </div>
    <div ng-include="'dialog/navigation/navigationDialog.html?r=' + rand"></div>
    <div ng-include="'dialog/table/tableDialog.html?r=' + rand"></div>
    <div ng-include="'dialog/icon/iconDialog.html?r=' + rand"></div>
    <div ng-include="'dialog/wish/wishDialog.html?r=' + rand"></div>
    <div ng-include="'dialog/theme/themeDialog.html?r=' + rand"></div>
    <div ng-include="'dialog/component/componentDialog.html?r=' + rand"></div>
    <div ng-include="'dialog/html/htmlDialog.html?r=' + rand"></div>
    <!--<div ng-init="showNavigationDialog($event)"></div>-->

</body>
</html>
